<img style="float: left;" src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png">     
##       SQL Join Practice
Week 7 | Lesson 2.2

The [Northwind Database Schema](https://northwinddatabase.codeplex.com/) will come in handy for writing your solutions to the problems below.

In [ ]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

conn_str = "host='dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com' dbname='northwind' user='dsi_student' password='gastudents'"
conn = psycopg2.connect(conn_str)

In [ ]:
SQL_STRING = '''

SELECT "ProductID" as "PID","ProductName","SupplierID","UnitPrice"
FROM Products as P
WHERE Products."UnitPrice" > 25 
ORDER BY "SupplierID" DESC,"UnitPrice" ASC

'''

df = pd.read_sql(SQL_STRING, con=conn)
df

### 1. How many products per category does the catalog contain?
Print the answer with the CategoryName, and Count.

### 2. What 5 customers are generating the highest revenue?
Print a table with CustomerID and Total Revenue. You will need to use data from 3 tables.

### 3. In which country are the top 5 suppliers by number of units supplied?
Print a table with the supplier's CompanyName, Country and total number of units supplied.