In [1]:
import numpy as np
import scipy.stats as stats
import csv
import pandas as pd

# this line tells jupyter notebook to put the plots in the notebook rather than saving them to file.
%matplotlib inline

# this line makes plots prettier on mac retina screens. If you don't have one it shouldn't do anything.
%config InlineBackend.figure_format = 'retina'

In [2]:
df = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/datasets/drone_strikes/drones.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 27 columns):
Strike ID                   381 non-null int64
Bureau ID                   381 non-null object
Date                        381 non-null object
Time                        77 non-null object
Location                    381 non-null object
Area                        381 non-null object
Target                      65 non-null object
Target Group                124 non-null object
Westerners involved         2 non-null object
Minimum Total Killed        381 non-null int64
Mean Total Killed           283 non-null float64
Maximum Total Killed        381 non-null int64
Number of deaths            373 non-null object
AQ/TB Killed                41 non-null object
Minimum civilians killed    173 non-null float64
Maximum civilians killed    173 non-null float64
Civilians Killed            267 non-null object
Min injured                 305 non-null float64
Max injured                 305 non-null float64
Injured                     332 non-null object
Minimum children killed     69 non-null float64
Max children killed         68 non-null float64
Children Killed             100 non-null object
Pakistani approval          19 non-null object
Short Summary               380 non-null object
Related ID                  47 non-null object
Notes                       3 non-null object
dtypes: float64(7), int64(3), object(17)
memory usage: 80.4+ KB

In [12]:
mean_tar = df['Mean Total Killed'].mean()

In [13]:
mean_civ = (df['Minimum civilians killed'].mean() + df['Maximum civilians killed'].mean()) / 2

In [21]:
mean_error = (mean_civ/ mean_tar) * 100

In [24]:
#43.5% of all people killed on overage are civilians
round(mean_error, 2)

43.47

In [29]:
#381 non-null values
df['Area'].value_counts()

North Waziristan                 269
South Waziristan                  87
Kurram Agency                      7
Khyber Agency                      5
Bajaur Agency                      4
Bannu Frontier                     3
Khyber Pakhtunkhwa province        1
Orakzai Agency                     1
Orakzai/North Waziristan           1
South/North Waziristan border      1
North/South Waziristan             1
Unknown                            1
Name: Area, dtype: int64

In [49]:
plot = sns.distplot()