In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import time

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
uber = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_data.csv').drop('Unnamed: 0', 1)

In [3]:
uber.head()

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,Events,Gust SpeedMPH,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind Direction,Wind SpeedMPH,WindDirDegrees
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,NaN,-,55.0,NaN,30.19,19.9,10.0,Calm,Calm,0
1,2015,2,1,1,"[162, 211, 79, 107, 198, 188, 162, 255, 107, 2...",0.0,0.0,0.0,58.0,0.0,...,NaN,-,53.0,NaN,30.19,21.0,10.0,WSW,3.5,250
2,2015,2,1,2,"[79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...",0.0,0.0,0.0,30.0,0.0,...,NaN,-,51.0,NaN,30.19,21.9,10.0,Variable,3.5,0
3,2015,2,1,3,"[255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...",0.0,0.0,0.0,23.0,0.0,...,NaN,-,50.0,NaN,30.19,23.0,10.0,Variable,3.5,0
4,2015,2,1,4,"[61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...",0.0,0.0,0.0,11.0,0.0,...,NaN,-,51.0,NaN,30.19,24.1,10.0,North,-9999.0,0