In [133]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import folium
from folium import plugins
import time
import tensorflow as tf

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [135]:
uber_raw = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber-raw-data-janjune-15.csv', usecols=['Pickup_date', 'locationID'])
uber_raw['Pickup_date'] = pd.to_datetime(uber_raw['Pickup_date'])
# #Jan-Jun 2015

In [137]:
uber_raw.head(1)

          Pickup_date  locationID
0 2015-05-17 09:47:00         141

In [138]:
uber_raw.insert(1, 'Min', uber_raw['Pickup_date'].map(lambda x: x.minute))
uber_raw.insert(1, 'Hour', uber_raw['Pickup_date'].map(lambda x: x.hour))
uber_raw.insert(1, 'Day', uber_raw['Pickup_date'].map(lambda x: x.day))
uber_raw.insert(1, 'Month', uber_raw['Pickup_date'].map(lambda x: x.month))
uber_raw.insert(1, 'Year', uber_raw['Pickup_date'].map(lambda x: x.year))

In [141]:
uber_raw[['Year', 'Month','Day','Hour', 'Pickup_date', 'locationID']].sort_values(['Month', 'Day', 'Hour']) #Start_Date =

          Year  Month  Day  Hour         Pickup_date  locationID
44163     2015      1    1     0 2015-01-01 00:41:02         163
44171     2015      1    1     0 2015-01-01 00:01:37         164
44175     2015      1    1     0 2015-01-01 00:50:41          80
44179     2015      1    1     0 2015-01-01 00:15:57         144
44183     2015      1    1     0 2015-01-01 00:51:18          97
44185     2015      1    1     0 2015-01-01 00:25:30         230
44191     2015      1    1     0 2015-01-01 00:22:46         162
44197     2015      1    1     0 2015-01-01 00:57:20          87
44566     2015      1    1     0 2015-01-01 00:49:52          79
44569     2015      1    1     0 2015-01-01 00:42:13         159
44571     2015      1    1     0 2015-01-01 00:47:37         223
44577     2015      1    1     0 2015-01-01 00:50:01         237
44583     2015      1    1     0 2015-01-01 00:56:59          48
44587     2015      1    1     0 2015-01-01 00:18:29          13
44588     2015      1    1     0 2015-01-01 00:23:41         158
44603     2015      1    1     0 2015-01-01 00:48:34          66
44606     2015      1    1     0 2015-01-01 00:10:05         181
44617     2015      1    1     0 2015-01-01 00:24:17         141
44619     2015      1    1     0 2015-01-01 00:56:05         249
44620     2015      1    1     0 2015-01-01 00:50:49         249
44637     2015      1    1     0 2015-01-01 00:29:00         189
44639     2015      1    1     0 2015-01-01 00:31:28         226
44640     2015      1    1     0 2015-01-01 00:39:59          90
44650     2015      1    1     0 2015-01-01 00:20:36         209
44656     2015      1    1     0 2015-01-01 00:41:34           4
44658     2015      1    1     0 2015-01-01 00:18:44          24
44667     2015      1    1     0 2015-01-01 00:50:08         125
52389     2015      1    1     0 2015-01-01 00:01:25         231
52391     2015      1    1     0 2015-01-01 00:19:21          48
52394     2015      1    1     0 2015-01-01 00:55:45          79
...        ...    ...  ...   ...                 ...         ...
14086095  2015      6   30    23 2015-06-30 23:42:00          29
14086096  2015      6   30    23 2015-06-30 23:43:00         241
14086097  2015      6   30    23 2015-06-30 23:43:00         112
14086098  2015      6   30    23 2015-06-30 23:44:00          87
14086099  2015      6   30    23 2015-06-30 23:44:00          50
14086100  2015      6   30    23 2015-06-30 23:46:00          65
14086101  2015      6   30    23 2015-06-30 23:47:00          80
14086102  2015      6   30    23 2015-06-30 23:48:00         211
14086103  2015      6   30    23 2015-06-30 23:48:00          90
14086104  2015      6   30    23 2015-06-30 23:49:00          79
14086105  2015      6   30    23 2015-06-30 23:50:00         211
14086106  2015      6   30    23 2015-06-30 23:50:00         256
14086107  2015      6   30    23 2015-06-30 23:51:00         258
14086108  2015      6   30    23 2015-06-30 23:51:00         262
14086109  2015      6   30    23 2015-06-30 23:52:00         186
14086110  2015      6   30    23 2015-06-30 23:54:00          48
14086111  2015      6   30    23 2015-06-30 23:54:00         231
14086112  2015      6   30    23 2015-06-30 23:55:00         245
14086113  2015      6   30    23 2015-06-30 23:56:00          49
14086114  2015      6   30    23 2015-06-30 23:56:00         263
14086115  2015      6   30    23 2015-06-30 23:56:00         144
14086116  2015      6   30    23 2015-06-30 23:57:00         189
14086117  2015      6   30    23 2015-06-30 23:57:00         144
14086118  2015      6   30    23 2015-06-30 23:57:00         231
14086119  2015      6   30    23 2015-06-30 23:57:00         205
14086120  2015      6   30    23 2015-06-30 23:58:00          90
14086121  2015      6   30    23 2015-06-30 23:59:00         191
14124014  2015      6   30    23 2015-06-30 23:06:00         246
14124015  2015      6   30    23 2015-06-30 23:20:00         107
14124016  2015      6   30    23 2015-06-30 23:29:00         144

[14270479 rows x 6 columns]

In [ ]:
#Jan 26:22-Jan 27:8 == Bad
#p_data = uber_raw[(uber_raw['Month'] == 1) & (uber_raw['Day'] == 26)]

In [ ]:
#p_data.groupby(['Month', 'Day', 'Hour'])   #.sort_values(['Month', 'Day', 'Hour'])

In [ ]:
#Jan 26:22-Jan 27:8 == Bad
# p_data = p_data.sort_values('Hour')
# P_data = p_data[p_data['Hour'] == 23]
# P_data

#RAW DATA DOES NOT CONTIAN THAT INFO

In [ ]:
#Need to drop January and location_ids 264 & 265

In [144]:
# Drop Unknown locaitonIDs
def scrub_unknown(x):
    if x == 264 or x == 265:
        return False
    else:
        return True

In [164]:
# Drop January Data -> int64
def scrub_jan(x):
    if x == 1:
        return False
    else:
        return True

In [147]:
uber_raw = uber_raw[uber_raw['locationID'].map(scrub_unknown)] #Worked

In [165]:
uber_raw = uber_raw[uber_raw['Month'].map(scrub_jan)]

In [169]:
def tensor_loc(series):
    lst = []
    for cell in series:
        lst.append(cell)
    return lst

In [170]:
uber2 = uber_raw.groupby(['Year', 'Month','Day', 'Hour'])['locationID'].apply(tensor_loc).reset_index()

In [171]:
uber2.head()

   Year  Month  Day  Hour                                         locationID
0  2015      2    1     0  [164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...
1  2015      2    1     1  [162, 211, 79, 107, 198, 188, 162, 255, 107, 2...
2  2015      2    1     2  [79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...
3  2015      2    1     3  [255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...
4  2015      2    1     4  [61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...

In [173]:
locationID_list = sorted(uber_raw['locationID'].unique())
###HA! The reason for the empty columns is because they NEVER appear in this unique list. So just add them as 0's

In [175]:
#locationID_list

In [176]:
start_time = time.time()
for i in locationID_list: #Columns
    #print i
    for k in range(len(uber2)): #Rows
        uber2.ix[k, str(i)] = list(uber2['locationID'][k]).count(i)

print("--- %s seconds ---" % (time.time() - start_time))

--- 1208.70998096 seconds ---

In [ ]:
#uber2.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_loc_density.csv')

In [ ]:
#uber2.info()

In [177]:
uber2.head()

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,254,255,256,257,258,259,260,261,262,263
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,2.0,158.0,82.0,10.0,1.0,2.0,8.0,18.0,20.0,59.0
1,2015,2,1,1,"[162, 211, 79, 107, 198, 188, 162, 255, 107, 2...",0.0,0.0,0.0,58.0,0.0,...,1.0,162.0,95.0,5.0,4.0,0.0,7.0,8.0,10.0,27.0
2,2015,2,1,2,"[79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...",0.0,0.0,0.0,30.0,0.0,...,2.0,140.0,61.0,2.0,0.0,3.0,6.0,8.0,6.0,20.0
3,2015,2,1,3,"[255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...",0.0,0.0,0.0,23.0,0.0,...,2.0,89.0,40.0,0.0,2.0,0.0,3.0,3.0,8.0,14.0
4,2015,2,1,4,"[61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...",0.0,0.0,0.0,11.0,0.0,...,0.0,49.0,16.0,1.0,3.0,0.0,1.0,5.0,2.0,2.0

In [191]:
#What columns are missing? - 103, 104, 199, 264, 265 (need to add in 103, 104, 199)
for i, j in enumerate(uber.columns):
    print i, j
#uber.head()

0 Year
1 Month
2 Day
3 Hour
4 locationID
5 1
6 2
7 3
8 4
9 5
10 6
11 7
12 8
13 9
14 10
15 11
16 12
17 13
18 14
19 15
20 16
21 17
22 18
23 19
24 20
25 21
26 22
27 23
28 24
29 25
30 26
31 27
32 28
33 29
34 30
35 31
36 32
37 33
38 34
39 35
40 36
41 37
42 38
43 39
44 40
45 41
46 42
47 43
48 44
49 45
50 46
51 47
52 48
53 49
54 50
55 51
56 52
57 53
58 54
59 55
60 56
61 57
62 58
63 59
64 60
65 61
66 62
67 63
68 64
69 65
70 66
71 67
72 68
73 69
74 70
75 71
76 72
77 73
78 74
79 75
80 76
81 77
82 78
83 79
84 80
85 81
86 82
87 83
88 84
89 85
90 86
91 87
92 88
93 89
94 90
95 91
96 92
97 93
98 94
99 95
100 96
101 97
102 98
103 99
104 100
105 101
106 102
107 103
108 104
109 105
110 106
111 107
112 108
113 109
114 110
115 111
116 112
117 113
118 114
119 115
120 116
121 117
122 118
123 119
124 120
125 121
126 122
127 123
128 124
129 125
130 126
131 127
132 128
133 129
134 130
135 131
136 132
137 133
138 134
139 135
140 136
141 137
142 138
143 139
144 140
145 141
146 142
147 143
148 144
149 145
150 146
151 147
152 148
153 149
154 150
155 151
156 152
157 153
158 154
159 155
160 156
161 157
162 158
163 159
164 160
165 161
166 162
167 163
168 164
169 165
170 166
171 167
172 168
173 169
174 170
175 171
176 172
177 173
178 174
179 175
180 176
181 177
182 178
183 179
184 180
185 181
186 182
187 183
188 184
189 185
190 186
191 187
192 188
193 189
194 190
195 191
196 192
197 193
198 194
199 195
200 196
201 197
202 198
203 200
204 201
205 202
206 203
207 204
208 205
209 206
210 207
211 208
212 209
213 210
214 211
215 212
216 213
217 214
218 215
219 216
220 217
221 218
222 219
223 220
224 221
225 222
226 223
227 224
228 225
229 226
230 227
231 228
232 229
233 230
234 231
235 232
236 233
237 234
238 235
239 236
240 237
241 238
242 239
243 240
244 241
245 242
246 243
247 244
248 245
249 246
250 247
251 248
252 249
253 250
254 251
255 252
256 253
257 254
258 255
259 256
260 257
261 258
262 259
263 260
264 261
265 262
266 263

In [185]:
uber.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_loc_agg_2')

In [192]:
#Inserts missing locationID columns as all zeros
#zeros = np.zeros(shape=(uber.shape[0],))
#uber.insert(107, '103', zeros)
#uber.insert(108, '104', zeros)
#uber.insert(203, '199', zeros)

In [193]:
uber.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_loc_agg_2')

In [197]:
w = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data3.csv').drop('Unnamed: 0', 1)

In [199]:
w2 = w[['DAY_OF_WEEK', 'Dew PointF', 'Gust SpeedMPH', 'Humidity', 'Sea Level PressureIn', 'TemperatureF',
       'VisibilityMPH', 'Wind SpeedMPH', 'WindDirDegrees']]

In [215]:
#join_on = range(0,uber.shape[0])
#uber.insert(0, 'join_on', join_on)
#w2.insert(0, 'join_on', join_on)

In [216]:
uber = uber.merge(w2, on=['join_on'])

In [217]:
uber = uber.drop('join_on', 1)

In [218]:
uber.head(1)

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,263,DAY_OF_WEEK,Dew PointF,Gust SpeedMPH,Humidity,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind SpeedMPH,WindDirDegrees
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,59.0,Sunday,6.1,0.0,55.0,30.19,19.9,10.0,0.0,0

In [219]:
for i, j in enumerate(uber.columns):
    print i, j

0 Year
1 Month
2 Day
3 Hour
4 locationID
5 1
6 2
7 3
8 4
9 5
10 6
11 7
12 8
13 9
14 10
15 11
16 12
17 13
18 14
19 15
20 16
21 17
22 18
23 19
24 20
25 21
26 22
27 23
28 24
29 25
30 26
31 27
32 28
33 29
34 30
35 31
36 32
37 33
38 34
39 35
40 36
41 37
42 38
43 39
44 40
45 41
46 42
47 43
48 44
49 45
50 46
51 47
52 48
53 49
54 50
55 51
56 52
57 53
58 54
59 55
60 56
61 57
62 58
63 59
64 60
65 61
66 62
67 63
68 64
69 65
70 66
71 67
72 68
73 69
74 70
75 71
76 72
77 73
78 74
79 75
80 76
81 77
82 78
83 79
84 80
85 81
86 82
87 83
88 84
89 85
90 86
91 87
92 88
93 89
94 90
95 91
96 92
97 93
98 94
99 95
100 96
101 97
102 98
103 99
104 100
105 101
106 102
107 103
108 104
109 105
110 106
111 107
112 108
113 109
114 110
115 111
116 112
117 113
118 114
119 115
120 116
121 117
122 118
123 119
124 120
125 121
126 122
127 123
128 124
129 125
130 126
131 127
132 128
133 129
134 130
135 131
136 132
137 133
138 134
139 135
140 136
141 137
142 138
143 139
144 140
145 141
146 142
147 143
148 144
149 145
150 146
151 147
152 148
153 149
154 150
155 151
156 152
157 153
158 154
159 155
160 156
161 157
162 158
163 159
164 160
165 161
166 162
167 163
168 164
169 165
170 166
171 167
172 168
173 169
174 170
175 171
176 172
177 173
178 174
179 175
180 176
181 177
182 178
183 179
184 180
185 181
186 182
187 183
188 184
189 185
190 186
191 187
192 188
193 189
194 190
195 191
196 192
197 193
198 194
199 195
200 196
201 197
202 198
203 199
204 200
205 201
206 202
207 203
208 204
209 205
210 206
211 207
212 208
213 209
214 210
215 211
216 212
217 213
218 214
219 215
220 216
221 217
222 218
223 219
224 220
225 221
226 222
227 223
228 224
229 225
230 226
231 227
232 228
233 229
234 230
235 231
236 232
237 233
238 234
239 235
240 236
241 237
242 238
243 239
244 240
245 241
246 242
247 243
248 244
249 245
250 246
251 247
252 248
253 249
254 250
255 251
256 252
257 253
258 254
259 255
260 256
261 257
262 258
263 259
264 260
265 261
266 262
267 263
268 DAY_OF_WEEK
269 Dew PointF
270 Gust SpeedMPH
271 Humidity
272 Sea Level PressureIn
273 TemperatureF
274 VisibilityMPH
275 Wind SpeedMPH
276 WindDirDegrees

In [222]:
uber.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data4.csv')

In [225]:
uber = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data4.csv').drop('Unnamed: 0', 1)

In [227]:
uber.head(1)

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,263,DAY_OF_WEEK,Dew PointF,Gust SpeedMPH,Humidity,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind SpeedMPH,WindDirDegrees
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,59.0,Sunday,6.1,0.0,55.0,30.19,19.9,10.0,0.0,0

In [ ]:
uber = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_loc_density.csv')

In [ ]:
uber = uber.drop('Unnamed: 0', 1)
uber

In [ ]:
#623 = bad
#Jan 26:22-Jan 27:8 == Bad
counter = 0
total_count = 0
for i in uber['Hour']:
    #print i, counter
    
    if int(i) == counter:
        pass
    else:
        print 'bad', total_count

    if counter == 23:
        counter = 0
    else:
        counter += 1

    total_count += 1

In [ ]:
uber_feb_jun = uber[uber['Month'] > 1]

In [ ]:
uber = uber_feb_jun.reset_index().drop('index', 1)

In [ ]:
#Year/Month/Day
lst = []
for i in range(1,31): # Num of days plus 1
    weather = pd.read_csv('https://www.wunderground.com/history/airport/KNYC/2015/6/'+str(i)+'/DailyHistory.html?req_city=New+York&req_state=NY&req_statename=New+York&reqdb.zip=10001&reqdb.magic=10&reqdb.wmo=99999&format=1')
    lst.append(weather)

jun2015_weather = pd.concat(lst)

In [ ]:
#jun2015_weather.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jun2015_weather.csv')

In [ ]:
jan2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jan2015_weather.csv')
feb2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/feb2015_weather.csv')
mar2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/mar2015_weather.csv')
apr2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/apr2015_weather.csv')
may2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/may2015_weather.csv')
jun2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jun2015_weather.csv')

In [ ]:
total_weather = pd.concat([jan2015_weather, feb2015_weather, mar2015_weather,
                         apr2015_weather, may2015_weather, jun2015_weather])

In [ ]:
new_weather = pd.concat([feb2015_weather, mar2015_weather,
                         apr2015_weather, may2015_weather, jun2015_weather])

In [ ]:
def time_conv(x):
    x = x[11:13]
    
    if x == '01':
        return '20'
    elif x == '02':
        return '21'
    elif x == '03':
        return '22'
    elif x == '04':
        return '23'
    elif x == '05':
        return '00'
    elif x == '06':
        return '01'
    elif x == '07':
        return '02'
    elif x == '08':
        return '03'
    elif x == '09':
        return '04'
    elif x == '10':
        return '05'
    elif x == '11':
        return '06'
    elif x == '12':
        return '07'
    elif x == '13':
        return '08'
    elif x == '14':
        return '09'
    elif x == '15':
        return '10'
    elif x == '16':
        return '11'
    elif x == '17':
        return '12'
    elif x == '18':
        return '13'
    elif x == '19':
        return '14'
    elif x == '20':
        return '15'
    elif x == '21':
        return '16'
    elif x == '22':
        return '17'
    elif x == '23':
        return '18'
    elif x == '00':
        return '19'
    else:
        return 'ERROR'

In [ ]:
#total_weather = total_weather.drop('Time', 1)
new_weather.insert(0, 'Time', new_weather['DateUTC<br />'].map(time_conv))

In [ ]:
Time = list(new_weather['Time'])
Time2 = []
total_count = 0
counter = 0
prev = 0
error2_counter = 0
for i in Time:
    #print int(i), counter
    
    if prev == i:
        #print 'caught_1'
        Time2.append(np.nan)
        continue
    else:
        prev = i
    
    if int(i) == counter:
        Time2.append(i)
    else:
        Time2.append('ERROR2')
        counter += +1
        print '=============================='
        error2_counter += 1
        pass
    
    if counter == 23:
        counter = 0
    else:
        counter += 1
    
    total_count += 1

print error2_counter

In [ ]:
new_weather.insert(0, 'Time_Unique', Time2)
new_weather = new_weather.reset_index().drop('index', 1)
new_weather = new_weather[new_weather['Time_Unique'].notnull()]
new_weather = new_weather.reset_index().drop('index', 1)

In [ ]:
new_weather #Feb-Jun Data (5 MONTHS)

In [ ]:
error = new_weather[new_weather['Time_Unique'] == 'ERROR2'] #LINE 635

In [ ]:
final_weather = pd.concat([new_weather[:635], new_weather[634:635], new_weather[634:635], new_weather[636:]])

In [ ]:
final_weather = final_weather.drop('index',1 )

In [ ]:
final_weather.ix[635, 'Time'] = 11

In [ ]:
weather = weather.drop(['Time_Unique', 'Time', 'DateUTC<br />', 'TimeEDT', 'TimeEST', 'Unnamed: 0'], 1)

In [ ]:
index = []
for i in range(0,len(weather)):
    index.append(i)

In [ ]:
print len(index)
print len(uber)

In [ ]:
uber['Index'] = index
uber

In [ ]:
weather['Index'] = index
weather

In [ ]:
uber_data = uber.merge(weather)
uber_data

In [ ]:
uber_data.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_data.csv')

In [ ]:
uber_data.info()

In [ ]:
uber_data.shape

In [ ]:
uber = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_data.csv')

In [ ]:
#103
#104
#199

for i in uber.columns:
    print i

In [ ]:
#uber['Year'].shape
zeros = np.zeros(shape=(3599,))

In [ ]:
uber = uber.drop(['Unnamed: 0', 'locationID', 'Conditions', 'Dew PointF',
          'Events', 'Gust SpeedMPH','Humidity', 'PrecipitationIn',
                 'Sea Level PressureIn', 'TemperatureF','VisibilityMPH',
                 'Wind Direction', 'Wind SpeedMPH', 'WindDirDegrees'], 1)

In [ ]:
#uber

In [ ]:
#1 = 4, 2 = 5
uber.insert(106, '103', zeros) #Worked
uber.insert(107, '104', zeros) #Worked
uber.insert(202, '199', zeros)

In [ ]:
uber.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/loc_only_uber_agg.csv')

In [ ]:
zones = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/taxi-zone-pickup_2.csv').drop('Unnamed: 0', 1)
#zones = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/taxi-zone-pickup.csv')

In [ ]:
venues = [[40.7505, -73.9934], [40.8296, -73.9262], [40.6825, -73.9750], [40.8128, -74.0742],
         [40.7571, -73.8458], [40.7634, -73.9831], [40.7590, -73.9845], [40.7527, -73.9772]]
venues = pd.DataFrame(venues, columns=['Latitude', 'Longitude'])

In [ ]:
venues.head(2)

In [ ]:
# o_lat = str(40.7505)
# o_lon = str(-73.9934)
# d_lat = str(40.689531)
# d_lon = str(-74.174462)
# url = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins='+ o_lat +','+ o_lon +'&destinations='+ d_lat +','+ d_lon +'&key=AIzaSyA0rogrrmQjWyrAIcel2ascIeyMO_xHsAU'
# json = pd.read_json(url)
#distance = json['rows'][0]['elements'][0]['distance']['text'][:-3]
#distance_results.append(distance)

In [ ]:
#  AIzaSyB64-zWlRl4thJ-pDe41TWKpdtjV7fukZw
# https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=40.7505,-73.9934&destinations=40.689531,-74.174462&key=AIzaSyB64-zWlRl4thJ-pDe41TWKpdtjV7fukZw
# Run this to test daily quota

In [ ]:
zones = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/taxi-zone-pickup3.csv').drop('Unnamed: 0', 1)

In [ ]:
zones.head()

In [ ]:
counter = 0
for o_lat, o_lon in zip(venues.Latitude, venues.Longitude):
    #print o_lat, o_lon, '\n'
    counter += 1
    distance_results = []
    for d_lat, d_lon in zip(zones.Latitude, zones.Longitude):
        # print d_lat, d_lon
        o_lat = str(o_lat)
        o_lon = str(o_lon)
        d_lat = str(d_lat)
        d_lon = str(d_lon)
        url = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins='+ o_lat +','+ o_lon +'&destinations='+ d_lat +','+ d_lon +'&key=AIzaSyA0rogrrmQjWyrAIcel2ascIeyMO_xHsAU'
        json = pd.read_json(url)
        try:
            distance = json['rows'][0]['elements'][0]['distance']['text'][:-3]
            distance_results.append(distance)
        except:
            distance_results.append('ERROR')
    print len(distance_results)
    zones.insert(4+counter, 'Distance_'+str(counter), distance_results)

In [ ]:
zones.columns = ['LocationID', 'Borough', 'Zone_Name', 'Latitude', 'Longitude',
                'MSG', 'Yankees_Stadium', 'Barclays_Center', 'MetLife_Stadiumn',
                'Citi_Field', 'Broadway', 'Times_Square', 'Grand_Central']

In [ ]:
#zones.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/zones_and_venues')
#zones = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/zones_and_venues')

In [ ]:
def conv_funct(x):
    try:
        return float(str(x).replace(',', ''))
    except:
        return x

In [ ]:
for venue in ['MSG', 'Yankees_Stadium', 'Barclays_Center', 'MetLife_Stadiumn',
                'Citi_Field', 'Broadway', 'Times_Square', 'Grand_Central']:
    
    zones[venue] = zones[venue].map(conv_funct)

In [229]:
zones = zones.drop([263, 264], 0)

In [237]:
zones.head()

,LocationID,Borough,Zone_Name,Latitude,Longitude,MSG,Yankees_Stadium,Barclays_Center,MetLife_Stadiumn,Citi_Field,Broadway,Times_Square,Grand_Central
0,1,EWR,Newark Airport,40.689531,-74.174462,16.8,25.1,16.1,13.6,34.2,17.2,17.2,17.9
1,2,Queens,Jamaica Bay,40.605663,-73.871310,23.5,28.3,18.7,38.1,20.9,24.8,26.3,26.1
2,3,Bronx,Allerton/Pelham Gardens,40.865513,-73.849417,17.8,10.3,21.7,20.5,10.1,16.7,17.1,15
3,4,Manhattan,Alphabet City,40.726060,-73.978595,3,9.9,4.4,10,14,4.1,3.1,2.8
4,5,Staten Island,Arden Heights,40.556795,-74.173906,28.1,36.7,21.8,24.8,34.6,28.5,28.4,29.1

In [236]:
venues = ['MSG', 'Yankees_Stadium', 'Barclays_Center', 'MetLife_Stadiumn',
                'Citi_Field', 'Broadway', 'Times_Square', 'Grand_Central']

In [235]:
for i, j in enumerate(uber.ix[:,5:268].columns):
    print i, j

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20
20 21
21 22
22 23
23 24
24 25
25 26
26 27
27 28
28 29
29 30
30 31
31 32
32 33
33 34
34 35
35 36
36 37
37 38
38 39
39 40
40 41
41 42
42 43
43 44
44 45
45 46
46 47
47 48
48 49
49 50
50 51
51 52
52 53
53 54
54 55
55 56
56 57
57 58
58 59
59 60
60 61
61 62
62 63
63 64
64 65
65 66
66 67
67 68
68 69
69 70
70 71
71 72
72 73
73 74
74 75
75 76
76 77
77 78
78 79
79 80
80 81
81 82
82 83
83 84
84 85
85 86
86 87
87 88
88 89
89 90
90 91
91 92
92 93
93 94
94 95
95 96
96 97
97 98
98 99
99 100
100 101
101 102
102 103
103 104
104 105
105 106
106 107
107 108
108 109
109 110
110 111
111 112
112 113
113 114
114 115
115 116
116 117
117 118
118 119
119 120
120 121
121 122
122 123
123 124
124 125
125 126
126 127
127 128
128 129
129 130
130 131
131 132
132 133
133 134
134 135
135 136
136 137
137 138
138 139
139 140
140 141
141 142
142 143
143 144
144 145
145 146
146 147
147 148
148 149
149 150
150 151
151 152
152 153
153 154
154 155
155 156
156 157
157 158
158 159
159 160
160 161
161 162
162 163
163 164
164 165
165 166
166 167
167 168
168 169
169 170
170 171
171 172
172 173
173 174
174 175
175 176
176 177
177 178
178 179
179 180
180 181
181 182
182 183
183 184
184 185
185 186
186 187
187 188
188 189
189 190
190 191
191 192
192 193
193 194
194 195
195 196
196 197
197 198
198 199
199 200
200 201
201 202
202 203
203 204
204 205
205 206
206 207
207 208
208 209
209 210
210 211
211 212
212 213
213 214
214 215
215 216
216 217
217 218
218 219
219 220
220 221
221 222
222 223
223 224
224 225
225 226
226 227
227 228
228 229
229 230
230 231
231 232
232 233
233 234
234 235
235 236
236 237
237 238
238 239
239 240
240 241
241 242
242 243
243 244
244 245
245 246
246 247
247 248
248 249
249 250
250 251
251 252
252 253
253 254
254 255
255 256
256 257
257 258
258 259
259 260
260 261
261 262
262 263

In [239]:
#uber.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data4.csv')
uber = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data4.csv')

In [251]:
for i, loc_id in enumerate(uber.ix[:,5:268].columns):
    for j, venue in enumerate(zones.ix[:,5:].columns):
        lst = []
        lst.extend([str(zones.ix[i,venue])] * uber.shape[0])
        uber.insert(0, 'd_from_'+loc_id+'_'+venue, lst)
    print 'Completed ||', loc_id
print 'Completed || ALL'

Completed || 1
Completed || 2
Completed || 3
Completed || 4
Completed || 5
Completed || 6
Completed || 7
Completed || 8
Completed || 9
Completed || 10
Completed || 11
Completed || 12
Completed || 13
Completed || 14
Completed || 15
Completed || 16
Completed || 17
Completed || 18
Completed || 19
Completed || 20
Completed || 21
Completed || 22
Completed || 23
Completed || 24
Completed || 25
Completed || 26
Completed || 27
Completed || 28
Completed || 29
Completed || 30
Completed || 31
Completed || 32
Completed || 33
Completed || 34
Completed || 35
Completed || 36
Completed || 37
Completed || 38
Completed || 39
Completed || 40
Completed || 41
Completed || 42
Completed || 43
Completed || 44
Completed || 45
Completed || 46
Completed || 47
Completed || 48
Completed || 49
Completed || 50
Completed || 51
Completed || 52
Completed || 53
Completed || 54
Completed || 55
Completed || 56
Completed || 57
Completed || 58
Completed || 59
Completed || 60
Completed || 61
Completed || 62
Completed || 63
Completed || 64
Completed || 65
Completed || 66
Completed || 67
Completed || 68
Completed || 69
Completed || 70
Completed || 71
Completed || 72
Completed || 73
Completed || 74
Completed || 75
Completed || 76
Completed || 77
Completed || 78
Completed || 79
Completed || 80
Completed || 81
Completed || 82
Completed || 83
Completed || 84
Completed || 85
Completed || 86
Completed || 87
Completed || 88
Completed || 89
Completed || 90
Completed || 91
Completed || 92
Completed || 93
Completed || 94
Completed || 95
Completed || 96
Completed || 97
Completed || 98
Completed || 99
Completed || 100
Completed || 101
Completed || 102
Completed || 103
Completed || 104
Completed || 105
Completed || 106
Completed || 107
Completed || 108
Completed || 109
Completed || 110
Completed || 111
Completed || 112
Completed || 113
Completed || 114
Completed || 115
Completed || 116
Completed || 117
Completed || 118
Completed || 119
Completed || 120
Completed || 121
Completed || 122
Completed || 123
Completed || 124
Completed || 125
Completed || 126
Completed || 127
Completed || 128
Completed || 129
Completed || 130
Completed || 131
Completed || 132
Completed || 133
Completed || 134
Completed || 135
Completed || 136
Completed || 137
Completed || 138
Completed || 139
Completed || 140
Completed || 141
Completed || 142
Completed || 143
Completed || 144
Completed || 145
Completed || 146
Completed || 147
Completed || 148
Completed || 149
Completed || 150
Completed || 151
Completed || 152
Completed || 153
Completed || 154
Completed || 155
Completed || 156
Completed || 157
Completed || 158
Completed || 159
Completed || 160
Completed || 161
Completed || 162
Completed || 163
Completed || 164
Completed || 165
Completed || 166
Completed || 167
Completed || 168
Completed || 169
Completed || 170
Completed || 171
Completed || 172
Completed || 173
Completed || 174
Completed || 175
Completed || 176
Completed || 177
Completed || 178
Completed || 179
Completed || 180
Completed || 181
Completed || 182
Completed || 183
Completed || 184
Completed || 185
Completed || 186
Completed || 187
Completed || 188
Completed || 189
Completed || 190
Completed || 191
Completed || 192
Completed || 193
Completed || 194
Completed || 195
Completed || 196
Completed || 197
Completed || 198
Completed || 199
Completed || 200
Completed || 201
Completed || 202
Completed || 203
Completed || 204
Completed || 205
Completed || 206
Completed || 207
Completed || 208
Completed || 209
Completed || 210
Completed || 211
Completed || 212
Completed || 213
Completed || 214
Completed || 215
Completed || 216
Completed || 217
Completed || 218
Completed || 219
Completed || 220
Completed || 221
Completed || 222
Completed || 223
Completed || 224
Completed || 225
Completed || 226
Completed || 227
Completed || 228
Completed || 229
Completed || 230
Completed || 231
Completed || 232
Completed || 233
Completed || 234
Completed || 235
Completed || 236
Completed || 237
Completed || 238
Completed || 239
Completed || 240
Completed || 241
Completed || 242
Completed || 243
Completed || 244
Completed || 245
Completed || 246
Completed || 247
Completed || 248
Completed || 249
Completed || 250
Completed || 251
Completed || 252
Completed || 253
Completed || 254
Completed || 255
Completed || 256
Completed || 257
Completed || 258
Completed || 259
Completed || 260
Completed || 261
Completed || 262
Completed || 263
Completed || ALL

In [252]:
uber.head()

,d_from_263_Grand_Central,d_from_263_Times_Square,d_from_263_Broadway,d_from_263_Citi_Field,d_from_263_MetLife_Stadiumn,d_from_263_Barclays_Center,d_from_263_Yankees_Stadium,d_from_263_MSG,d_from_262_Grand_Central,d_from_262_Times_Square,...,263,DAY_OF_WEEK,Dew PointF,Gust SpeedMPH,Humidity,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind SpeedMPH,WindDirDegrees
0,4.3,4.5,3.2,10.1,17.0,11.0,6.0,5.5,2.3,2.8,...,59.0,Sunday,6.1,0.0,55.0,30.19,19.9,10.0,0.0,0
1,4.3,4.5,3.2,10.1,17.0,11.0,6.0,5.5,2.3,2.8,...,27.0,Sunday,6.1,0.0,53.0,30.19,21.0,10.0,3.5,250
2,4.3,4.5,3.2,10.1,17.0,11.0,6.0,5.5,2.3,2.8,...,20.0,Sunday,6.1,0.0,51.0,30.19,21.9,10.0,3.5,0
3,4.3,4.5,3.2,10.1,17.0,11.0,6.0,5.5,2.3,2.8,...,14.0,Sunday,7.0,0.0,50.0,30.19,23.0,10.0,3.5,0
4,4.3,4.5,3.2,10.1,17.0,11.0,6.0,5.5,2.3,2.8,...,2.0,Sunday,8.1,0.0,51.0,30.19,24.1,10.0,0.0,0

In [254]:
uber.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/uber_data5.csv')

In [ ]:
'''
1 - Madison Square Garden [40.7505, -73.9934]
2 - Yankees Stadium [40.8296, -73.9262]
3 - Barclays Center [40.6825, -73.9750]
4 - MetLife Stadium [40.8128, -74.0742]
5 - Citi Field [40.7571, -73.8458]
6 - Broadway Theatre [40.7634, -73.9831]
7 - Times Square [40.7590, -73.9845]
8 - Grand Central [40.7527, -73.9772]
'''

In [ ]:
subway = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv')

In [ ]:
subway = subway[['Station_Name', 'Station_Latitude', 'Station_Longitude']]

In [ ]:
#type(subway)
subway = subway.drop_duplicates(keep='first')

In [ ]:
locs = pd.read_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/taxi-zone-pickup_2.csv').drop('Unnamed: 0', 1)

In [ ]:
locs.head(2)

In [ ]:
locs.info()

In [ ]:
def custom_function(x):
    if str(x)[:3] == '-73' or str(x)[:3] == '-74':
        return False
    else:
        return True

In [ ]:
locs[locs['Longitude'].map(custom_function)]

In [ ]:
index = 264
new_latitude = 0
new_longitude = 0

locs.ix[index,'Latitude'] = new_latitude
locs.ix[index,'Longitude'] = new_longitude

In [ ]:
locs.to_csv('/Users/austinwhaley/github_repos/DSI-SF-4-austinmwhaley/other_datasets/taxi-zone-pickup3.csv')