In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import folium
from folium import plugins
import time
import tensorflow as tf

sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [3]:
uber_raw = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber-raw-data-janjune-15.csv', usecols=['Pickup_date', 'locationID'])
uber_raw['Pickup_date'] = pd.to_datetime(uber_raw['Pickup_date'])
# #Jan-Jun 2015

In [19]:
uber_raw.head()

          Pickup_date  Year  Month  Day  Hour  Min  locationID
0 2015-05-17 09:47:00  2015      5   17     9   47         141
1 2015-05-17 09:47:00  2015      5   17     9   47          65
2 2015-05-17 09:47:00  2015      5   17     9   47         100
3 2015-05-17 09:47:00  2015      5   17     9   47          80
4 2015-05-17 09:47:00  2015      5   17     9   47          90

In [4]:
uber_raw.insert(1, 'Min', uber_raw['Pickup_date'].map(lambda x: x.minute))
uber_raw.insert(1, 'Hour', uber_raw['Pickup_date'].map(lambda x: x.hour))
uber_raw.insert(1, 'Day', uber_raw['Pickup_date'].map(lambda x: x.day))
uber_raw.insert(1, 'Month', uber_raw['Pickup_date'].map(lambda x: x.month))
uber_raw.insert(1, 'Year', uber_raw['Pickup_date'].map(lambda x: x.year))

In [5]:
uber_raw[['Month','Day','Hour', 'Pickup_date']].sort_values(['Month', 'Day', 'Hour']) #Start_Date =

          Month  Day  Hour         Pickup_date
44163         1    1     0 2015-01-01 00:41:02
44171         1    1     0 2015-01-01 00:01:37
44175         1    1     0 2015-01-01 00:50:41
44179         1    1     0 2015-01-01 00:15:57
44183         1    1     0 2015-01-01 00:51:18
44185         1    1     0 2015-01-01 00:25:30
44191         1    1     0 2015-01-01 00:22:46
44197         1    1     0 2015-01-01 00:57:20
44566         1    1     0 2015-01-01 00:49:52
44569         1    1     0 2015-01-01 00:42:13
44571         1    1     0 2015-01-01 00:47:37
44577         1    1     0 2015-01-01 00:50:01
44583         1    1     0 2015-01-01 00:56:59
44587         1    1     0 2015-01-01 00:18:29
44588         1    1     0 2015-01-01 00:23:41
44603         1    1     0 2015-01-01 00:48:34
44606         1    1     0 2015-01-01 00:10:05
44617         1    1     0 2015-01-01 00:24:17
44619         1    1     0 2015-01-01 00:56:05
44620         1    1     0 2015-01-01 00:50:49
44637         1    1     0 2015-01-01 00:29:00
44639         1    1     0 2015-01-01 00:31:28
44640         1    1     0 2015-01-01 00:39:59
44650         1    1     0 2015-01-01 00:20:36
44656         1    1     0 2015-01-01 00:41:34
44658         1    1     0 2015-01-01 00:18:44
44667         1    1     0 2015-01-01 00:50:08
52389         1    1     0 2015-01-01 00:01:25
52391         1    1     0 2015-01-01 00:19:21
52394         1    1     0 2015-01-01 00:55:45
...         ...  ...   ...                 ...
14086095      6   30    23 2015-06-30 23:42:00
14086096      6   30    23 2015-06-30 23:43:00
14086097      6   30    23 2015-06-30 23:43:00
14086098      6   30    23 2015-06-30 23:44:00
14086099      6   30    23 2015-06-30 23:44:00
14086100      6   30    23 2015-06-30 23:46:00
14086101      6   30    23 2015-06-30 23:47:00
14086102      6   30    23 2015-06-30 23:48:00
14086103      6   30    23 2015-06-30 23:48:00
14086104      6   30    23 2015-06-30 23:49:00
14086105      6   30    23 2015-06-30 23:50:00
14086106      6   30    23 2015-06-30 23:50:00
14086107      6   30    23 2015-06-30 23:51:00
14086108      6   30    23 2015-06-30 23:51:00
14086109      6   30    23 2015-06-30 23:52:00
14086110      6   30    23 2015-06-30 23:54:00
14086111      6   30    23 2015-06-30 23:54:00
14086112      6   30    23 2015-06-30 23:55:00
14086113      6   30    23 2015-06-30 23:56:00
14086114      6   30    23 2015-06-30 23:56:00
14086115      6   30    23 2015-06-30 23:56:00
14086116      6   30    23 2015-06-30 23:57:00
14086117      6   30    23 2015-06-30 23:57:00
14086118      6   30    23 2015-06-30 23:57:00
14086119      6   30    23 2015-06-30 23:57:00
14086120      6   30    23 2015-06-30 23:58:00
14086121      6   30    23 2015-06-30 23:59:00
14124014      6   30    23 2015-06-30 23:06:00
14124015      6   30    23 2015-06-30 23:20:00
14124016      6   30    23 2015-06-30 23:29:00

[14270479 rows x 4 columns]

In [6]:
#Jan 26:22-Jan 27:8 == Bad
#p_data = uber_raw[(uber_raw['Month'] == 1) & (uber_raw['Day'] == 26)]

In [7]:
#p_data.groupby(['Month', 'Day', 'Hour'])   #.sort_values(['Month', 'Day', 'Hour'])

In [14]:
#Jan 26:22-Jan 27:8 == Bad
# p_data = p_data.sort_values('Hour')
# P_data = p_data[p_data['Hour'] == 23]
# P_data

#RAW DATA DOES NOT CONTIAN THAT INFO

Empty DataFrame
Columns: [Pickup_date, Year, Month, Day, Hour, Min, locationID]
Index: []

In [9]:
def tensor_loc(series):
    lst = []
    for cell in series:
        lst.append(cell)
    return lst

In [15]:
uber2 = uber_raw.groupby(['Year', 'Month','Day', 'Hour'])['locationID'].apply(tensor_loc).reset_index()

In [21]:
uber2.head()

   Year  Month  Day  Hour                                         locationID
0  2015      1    1     0  [163, 164, 80, 144, 97, 230, 162, 87, 79, 159,...
1  2015      1    1     1  [142, 231, 113, 79, 158, 114, 113, 232, 112, 1...
2  2015      1    1     2  [164, 234, 148, 148, 145, 142, 48, 87, 148, 14...
3  2015      1    1     3  [41, 256, 148, 17, 79, 97, 238, 211, 113, 124,...
4  2015      1    1     4  [36, 158, 107, 36, 232, 113, 68, 164, 89, 143,...

In [20]:
locationID_list = sorted(uber_raw['locationID'].unique())
###HA! The reason for the empty columns is because they NEVER appear in this unique list. So just add them as 0's

In [22]:
locationID_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265]

In [ ]:
#del uber2['column_name']

In [30]:
#list(uber2['locationID'][0]).count(4) #58

58

In [36]:
#len(locationID_list) * 3.5 / 60

15.283333333333333

In [12]:
start_time = time.time()
for i in locationID_list: #Columns
    #print i
    for k in range(len(uber2)): #Rows
        uber2.ix[k, str(i)] = list(uber2['locationID'][k]).count(i)

print("--- %s seconds ---" % (time.time() - start_time))

NameError: name 'locationID_list' is not defined

In [39]:
#uber2.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_loc_density.csv')

In [40]:
#uber2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4334 entries, 0 to 4333
Columns: 267 entries, Year to 265
dtypes: float64(262), int64(4), object(1)
memory usage: 8.8+ MB

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [7]:
uber = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_loc_density.csv')

In [ ]:
uber = uber.drop('Unnamed: 0', 1)
uber

In [ ]:
#623 = bad
#Jan 26:22-Jan 27:8 == Bad
counter = 0
total_count = 0
for i in uber['Hour']:
    #print i, counter
    
    if int(i) == counter:
        pass
    else:
        print 'bad', total_count

    if counter == 23:
        counter = 0
    else:
        counter += 1

    total_count += 1

In [134]:
uber

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,256,257,258,259,260,261,262,263,264,265
0,2015,1,1,0,"[163, 164, 80, 144, 97, 230, 162, 87, 79, 159,...",0.0,0.0,2.0,58.0,0.0,...,93.0,6.0,4.0,1.0,7.0,17.0,42.0,77.0,0.0,3.0
1,2015,1,1,1,"[142, 231, 113, 79, 158, 114, 113, 232, 112, 1...",0.0,0.0,1.0,39.0,0.0,...,83.0,16.0,7.0,3.0,3.0,13.0,31.0,50.0,0.0,6.0
2,2015,1,1,2,"[164, 234, 148, 148, 145, 142, 48, 87, 148, 14...",0.0,0.0,1.0,50.0,1.0,...,105.0,8.0,12.0,2.0,7.0,10.0,27.0,67.0,0.0,9.0
3,2015,1,1,3,"[41, 256, 148, 17, 79, 97, 238, 211, 113, 124,...",0.0,0.0,4.0,49.0,0.0,...,122.0,8.0,10.0,1.0,10.0,16.0,22.0,29.0,0.0,2.0
4,2015,1,1,4,"[36, 158, 107, 36, 232, 113, 68, 164, 89, 143,...",0.0,0.0,0.0,30.0,0.0,...,94.0,5.0,5.0,1.0,8.0,7.0,9.0,23.0,0.0,2.0
5,2015,1,1,5,"[89, 56, 231, 13, 142, 211, 37, 79, 132, 224, ...",0.0,0.0,1.0,22.0,0.0,...,77.0,0.0,4.0,2.0,7.0,6.0,6.0,6.0,0.0,1.0
6,2015,1,1,6,"[87, 49, 256, 68, 237, 17, 87, 33, 112, 79, 11...",0.0,0.0,0.0,4.0,0.0,...,63.0,4.0,1.0,2.0,4.0,2.0,6.0,11.0,0.0,0.0
7,2015,1,1,7,"[246, 112, 256, 226, 236, 239, 243, 246, 41, 1...",0.0,0.0,0.0,5.0,0.0,...,46.0,1.0,2.0,0.0,0.0,6.0,2.0,3.0,0.0,0.0
8,2015,1,1,8,"[138, 231, 61, 17, 14, 161, 75, 68, 48, 50, 61...",0.0,0.0,0.0,4.0,0.0,...,27.0,4.0,0.0,0.0,3.0,1.0,5.0,4.0,0.0,0.0
9,2015,1,1,9,"[225, 186, 256, 42, 50, 164, 80, 113, 200, 230...",0.0,0.0,0.0,3.0,0.0,...,15.0,0.0,3.0,0.0,3.0,2.0,4.0,7.0,0.0,0.0
10,2015,1,1,10,"[170, 132, 87, 237, 61, 7, 33, 87, 68, 144, 24...",0.0,0.0,0.0,8.0,0.0,...,17.0,3.0,1.0,1.0,1.0,3.0,12.0,7.0,0.0,1.0
11,2015,1,1,11,"[170, 142, 140, 79, 255, 188, 90, 140, 113, 26...",0.0,0.0,0.0,14.0,0.0,...,15.0,1.0,3.0,0.0,1.0,4.0,11.0,15.0,0.0,1.0
12,2015,1,1,12,"[24, 263, 144, 162, 50, 255, 249, 89, 161, 68,...",0.0,0.0,0.0,13.0,0.0,...,20.0,5.0,1.0,2.0,2.0,6.0,10.0,18.0,0.0,0.0
13,2015,1,1,13,"[50, 229, 141, 141, 161, 162, 163, 239, 7, 171...",0.0,0.0,0.0,13.0,0.0,...,17.0,2.0,2.0,1.0,7.0,7.0,7.0,12.0,0.0,3.0
14,2015,1,1,14,"[80, 198, 112, 132, 249, 158, 26, 162, 189, 18...",0.0,0.0,0.0,15.0,0.0,...,20.0,1.0,3.0,1.0,7.0,12.0,18.0,25.0,0.0,2.0
15,2015,1,1,15,"[89, 112, 79, 202, 17, 145, 144, 79, 107, 79, ...",1.0,0.0,0.0,19.0,0.0,...,22.0,7.0,2.0,0.0,0.0,14.0,15.0,24.0,0.0,1.0
16,2015,1,1,16,"[236, 76, 142, 256, 114, 100, 113, 140, 262, 2...",0.0,0.0,1.0,14.0,0.0,...,32.0,9.0,2.0,1.0,4.0,13.0,16.0,28.0,0.0,1.0
17,2015,1,1,17,"[148, 211, 157, 247, 52, 236, 232, 234, 133, 1...",0.0,0.0,0.0,24.0,0.0,...,21.0,5.0,4.0,0.0,2.0,25.0,13.0,25.0,0.0,1.0
18,2015,1,1,18,"[138, 17, 65, 90, 37, 261, 37, 244, 263, 255, ...",0.0,0.0,1.0,13.0,0.0,...,22.0,6.0,1.0,1.0,2.0,20.0,13.0,33.0,0.0,1.0
19,2015,1,1,19,"[227, 233, 107, 249, 231, 112, 261, 68, 225, 2...",0.0,0.0,0.0,18.0,0.0,...,28.0,3.0,0.0,1.0,4.0,12.0,19.0,27.0,0.0,0.0
20,2015,1,1,20,"[74, 181, 134, 234, 262, 211, 246, 233, 25, 89...",0.0,0.0,1.0,20.0,0.0,...,30.0,6.0,0.0,1.0,0.0,8.0,18.0,19.0,0.0,1.0
21,2015,1,1,21,"[68, 48, 186, 80, 144, 107, 189, 230, 143, 224...",0.0,0.0,1.0,13.0,0.0,...,16.0,0.0,1.0,2.0,2.0,10.0,15.0,19.0,0.0,2.0
22,2015,1,1,22,"[144, 148, 132, 79, 91, 113, 261, 132, 236, 4,...",0.0,0.0,0.0,14.0,0.0,...,34.0,2.0,2.0,0.0,2.0,7.0,11.0,24.0,0.0,1.0
23,2015,1,1,23,"[132, 113, 181, 263, 158, 144, 132, 223, 33, 1...",0.0,0.0,2.0,18.0,0.0,...,22.0,1.0,0.0,1.0,4.0,0.0,5.0,21.0,0.0,0.0
24,2015,1,2,0,"[243, 162, 48, 79, 37, 186, 238, 163, 163, 211...",0.0,0.0,0.0,11.0,0.0,...,15.0,0.0,4.0,0.0,0.0,2.0,4.0,13.0,0.0,0.0
25,2015,1,2,1,"[226, 148, 90, 79, 79, 43, 113, 256, 68, 144, ...",0.0,0.0,0.0,6.0,0.0,...,9.0,2.0,0.0,0.0,3.0,1.0,4.0,9.0,0.0,0.0
26,2015,1,2,2,"[261, 79, 114, 61, 164, 249, 148, 129, 48, 234...",0.0,0.0,0.0,1.0,0.0,...,9.0,0.0,1.0,0.0,0.0,4.0,2.0,5.0,0.0,1.0
27,2015,1,2,3,"[41, 249, 4, 79, 113, 22, 249, 16, 66, 231, 14...",0.0,0.0,0.0,4.0,0.0,...,15.0,1.0,0.0,1.0,0.0,0.0,1.0,4.0,0.0,0.0
28,2015,1,2,4,"[68, 132, 76, 7, 140, 233, 88, 255, 158, 238, ...",0.0,0.0,0.0,3.0,0.0,...,6.0,1.0,1.0,0.0,2.0,2.0,6.0,5.0,0.0,1.0
29,2015,1,2,5,"[16, 82, 68, 37, 17, 148, 141, 33, 73, 170, 41...",0.0,0.0,0.0,4.0,0.0,...,5.0,3.0,0.0,1.0,0.0,0.0,7.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4304,2015,6,29,18,"[229, 131, 79, 148, 229, 90, 237, 161, 246, 50...",0.0,0.0,0.0,17.0,0.0,...,35.0,7.0,1.0,0.0,2.0,32.0,26.0,29.0,0.0,1.0
4305,2015,6,29,19,"[76, 144, 170, 164, 148, 132, 239, 230, 163, 1...",0.0,0.0,2.0,18.0,0.0,...,37.0,6.0,5.0,0.0,4.0,39.0,28.0,20.0,0.0,2.0
4306,2015,6,29,20,"[246, 161, 158, 163, 161, 138, 234, 140, 236, ...",0.0,0.0,0.0,17.0,0.0,...,44.0,5.0,3.0,2.0,7.0,36.0,15.0,28.0,0.0,1.0
4307,2015,6,29,21,"[97, 231, 148, 62, 231, 234, 186, 231, 143, 11...",0.0,0.0,0.0,18.0,0.0,...,45.0,2.0,4.0,1.0,5.0,22.0,17.0,39.0,0.0,2.0
4308,2015,6,29,22,"[231, 161, 162, 163, 230, 230, 13, 162, 68, 24...",0.0,0.0,3.0,17.0,0.0,...,55.0,5.0,2.0,0.0,8.0,21.0,21.0,23.0,0.0,1.0
4309,2015,6,29,23,"[148, 162, 143, 260, 230, 79, 186, 231, 160, 2...",0.0,0.0,2.0,20.0,0.0,...,37.0,3.0,1.0,1.0,6.0,16.0,11.0,11.0,0.0,1.0
4310,2015,6,30,0,"[138, 141, 79, 230, 79, 145, 188, 177, 79, 148...",0.0,0.0,0.0,12.0,0.0,...,32.0,3.0,1.0,1.0,3.0,14.0,2.0,15.0,0.0,0.0
4311,2015,6,30,1,"[66, 26, 66, 37, 50, 36, 164, 48, 248, 234, 36...",0.0,0.0,0.0,6.0,0.0,...,11.0,3.0,0.0,0.0,1.0,9.0,7.0,4.0,0.0,1.0
4312,2015,6,30,2,"[181, 158, 90, 234, 80, 148, 148, 132, 79, 265...",0.0,0.0,0.0,2.0,0.0,...,9.0,1.0,0.0,0.0,2.0,5.0,1.0,1.0,0.0,1.0
4313,2015,6,30,3,"[260, 158, 255, 92, 142, 230, 68, 230, 93, 132...",0.0,0.0,0.0,2.0,0.0,...,7.0,0.0,1.0,1.0,4.0,3.0,3.0,3.0,0.0,0.0
4314,2015,6,30,4,"[45, 92, 224, 229, 263, 239, 161, 256, 238, 23...",0.0,0.0,1.0,4.0,0.0,...,15.0,0.0,1.0,0.0,1.0,10.0,7.0,9.0,0.0,2.0
4315,2015,6,30,5,"[37, 79, 148, 61, 48, 249, 231, 229, 249, 152,...",0.0,0.0,0.0,12.0,0.0,...,7.0,3.0,4.0,0.0,1.0,9.0,15.0,16.0,0.0,5.0
4316,2015,6,30,6,"[263, 37, 13, 164, 263, 198, 107, 236, 65, 249...",0.0,0.0,0.0,18.0,0.0,...,31.0,5.0,2.0,1.0,8.0,9.0,20.0,30.0,0.0,2.0
4317,2015,6,30,7,"[236, 186, 231, 68, 229, 36, 143, 144, 33, 148...",0.0,0.0,1.0,43.0,0.0,...,29.0,9.0,5.0,1.0,5.0,17.0,51.0,48.0,0.0,6.0
4318,2015,6,30,8,"[17, 79, 231, 68, 263, 90, 13, 229, 144, 138, ...",0.0,0.0,2.0,45.0,0.0,...,39.0,7.0,7.0,5.0,7.0,20.0,76.0,70.0,0.0,1.0
4319,2015,6,30,9,"[212, 145, 141, 142, 7, 229, 230, 148, 4, 236,...",0.0,0.0,1.0,39.0,0.0,...,38.0,8.0,2.0,0.0,10.0,16.0,83.0,66.0,0.0,1.0
4320,2015,6,30,10,"[144, 228, 186, 230, 158, 50, 142, 50, 229, 24...",0.0,0.0,0.0,24.0,0.0,...,34.0,3.0,2.0,1.0,1.0,14.0,46.0,42.0,0.0,1.0
4321,2015,6,30,11,"[231, 158, 50, 211, 186, 144, 26, 48, 165, 142...",0.0,0.0,1.0,19.0,0.0,...,26.0,5.0,5.0,1.0,3.0,22.0,34.0,24.0,0.0,0.0
4322,2015,6,30,12,"[179, 17, 87, 61, 237, 231, 228, 100, 233, 249...",0.0,0.0,2.0,25.0,0.0,...,20.0,5.0,3.0,1.0,4.0,14.0,24.0,23.0,0.0,1.0
4323,2015,6,30,13,"[138, 129, 37, 246, 107, 170, 50, 56, 249, 163...",0.0,0.0,0.0,17.0,0.0,...,20.0,7.0,2.0,0.0,7.0,22.0,18.0,22.0,0.0,1.0
4324,2015,6,30,14,"[211, 68, 161, 182, 138, 50, 229, 146, 10, 75,...",0.0,0.0,2.0,23.0,0.0,...,22.0,4.0,2.0,1.0,6.0,15.0,15.0,30.0,0.0,2.0
4325,2015,6,30,15,"[178, 170, 164, 262, 141, 137, 121, 237, 233, ...",0.0,0.0,1.0,22.0,0.0,...,23.0,4.0,3.0,2.0,3.0,22.0,16.0,31.0,0.0,0.0
4326,2015,6,30,16,"[170, 239, 161, 224, 62, 144, 144, 48, 100, 10...",0.0,0.0,0.0,23.0,0.0,...,17.0,4.0,3.0,0.0,10.0,37.0,24.0,27.0,0.0,1.0
4327,2015,6,30,17,"[188, 246, 234, 87, 50, 231, 233, 144, 170, 17...",0.0,0.0,1.0,14.0,0.0,...,41.0,3.0,8.0,1.0,2.0,36.0,32.0,33.0,0.0,2.0
4328,2015,6,30,18,"[239, 80, 211, 161, 144, 256, 17, 170, 116, 16...",0.0,0.0,1.0,22.0,0.0,...,40.0,8.0,3.0,2.0,4.0,48.0,41.0,38.0,0.0,4.0
4329,2015,6,30,19,"[229, 237, 141, 161, 246, 236, 162, 246, 137, ...",0.0,0.0,3.0,28.0,0.0,...,62.0,11.0,5.0,1.0,9.0,41.0,37.0,39.0,0.0,3.0
4330,2015,6,30,20,"[164, 181, 163, 256, 80, 13, 79, 13, 161, 107,...",0.0,0.0,2.0,15.0,0.0,...,49.0,5.0,3.0,1.0,6.0,37.0,29.0,29.0,0.0,3.0
4331,2015,6,30,21,"[164, 161, 144, 233, 163, 170, 65, 255, 230, 2...",0.0,0.0,1.0,44.0,0.0,...,59.0,4.0,3.0,0.0,11.0,19.0,25.0,46.0,0.0,0.0
4332,2015,6,30,22,"[211, 234, 163, 256, 232, 163, 253, 42, 93, 42...",0.0,0.0,2.0,26.0,0.0,...,67.0,4.0,0.0,0.0,8.0,32.0,24.0,36.0,0.0,2.0
4333,2015,6,30,23,"[225, 132, 255, 230, 163, 164, 246, 231, 61, 1...",0.0,0.0,0.0,21.0,0.0,...,43.0,6.0,6.0,1.0,9.0,15.0,11.0,33.0,0.0,3.0

In [1]:
for i in uber.columns:
    print i

NameError: name 'uber' is not defined

In [135]:
uber_feb_jun = uber[uber['Month'] > 1]

In [139]:
uber = uber_feb_jun.reset_index().drop('index', 1)

In [140]:
uber

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,256,257,258,259,260,261,262,263,264,265
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,82.0,10.0,1.0,2.0,8.0,18.0,20.0,59.0,0.0,0.0
1,2015,2,1,1,"[162, 211, 79, 107, 198, 188, 162, 255, 107, 2...",0.0,0.0,0.0,58.0,0.0,...,95.0,5.0,4.0,0.0,7.0,8.0,10.0,27.0,0.0,0.0
2,2015,2,1,2,"[79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...",0.0,0.0,0.0,30.0,0.0,...,61.0,2.0,0.0,3.0,6.0,8.0,6.0,20.0,0.0,0.0
3,2015,2,1,3,"[255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...",0.0,0.0,0.0,23.0,0.0,...,40.0,0.0,2.0,0.0,3.0,3.0,8.0,14.0,0.0,1.0
4,2015,2,1,4,"[61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...",0.0,0.0,0.0,11.0,0.0,...,16.0,1.0,3.0,0.0,1.0,5.0,2.0,2.0,0.0,0.0
5,2015,2,1,5,"[186, 37, 249, 132, 36, 50, 112, 255, 37, 255,...",0.0,0.0,0.0,9.0,0.0,...,14.0,1.0,1.0,0.0,1.0,2.0,6.0,4.0,0.0,0.0
6,2015,2,1,6,"[37, 215, 239, 141, 132, 107, 17, 4, 230, 107,...",0.0,0.0,0.0,9.0,0.0,...,12.0,2.0,1.0,0.0,3.0,1.0,5.0,8.0,0.0,0.0
7,2015,2,1,7,"[79, 224, 239, 260, 123, 129, 13, 256, 36, 79,...",0.0,0.0,1.0,10.0,0.0,...,12.0,3.0,2.0,0.0,1.0,1.0,6.0,9.0,0.0,0.0
8,2015,2,1,8,"[223, 15, 127, 137, 107, 37, 48, 263, 4, 263, ...",0.0,0.0,0.0,8.0,0.0,...,25.0,1.0,2.0,0.0,2.0,4.0,12.0,19.0,0.0,0.0
9,2015,2,1,9,"[151, 255, 121, 51, 246, 238, 161, 142, 141, 2...",0.0,0.0,0.0,17.0,0.0,...,21.0,2.0,1.0,1.0,5.0,3.0,21.0,28.0,0.0,2.0
10,2015,2,1,10,"[37, 170, 65, 188, 143, 152, 236, 143, 158, 65...",0.0,0.0,1.0,24.0,0.0,...,26.0,9.0,2.0,1.0,5.0,8.0,28.0,36.0,0.0,5.0
11,2015,2,1,11,"[165, 50, 181, 249, 142, 236, 170, 211, 43, 17...",0.0,0.0,1.0,26.0,0.0,...,27.0,4.0,4.0,1.0,6.0,8.0,29.0,31.0,0.0,2.0
12,2015,2,1,12,"[246, 48, 260, 143, 42, 125, 79, 82, 234, 181,...",0.0,0.0,1.0,28.0,0.0,...,39.0,4.0,0.0,1.0,7.0,11.0,30.0,33.0,0.0,3.0
13,2015,2,1,13,"[162, 209, 112, 211, 79, 170, 243, 33, 49, 168...",0.0,0.0,0.0,24.0,0.0,...,46.0,5.0,3.0,2.0,8.0,11.0,23.0,33.0,0.0,1.0
14,2015,2,1,14,"[95, 79, 140, 145, 231, 141, 68, 233, 257, 229...",0.0,0.0,0.0,25.0,0.0,...,41.0,4.0,2.0,2.0,5.0,12.0,18.0,32.0,0.0,0.0
15,2015,2,1,15,"[138, 132, 263, 137, 144, 97, 50, 88, 68, 151,...",0.0,0.0,1.0,32.0,0.0,...,42.0,16.0,5.0,2.0,6.0,13.0,27.0,35.0,0.0,0.0
16,2015,2,1,16,"[229, 145, 220, 132, 158, 33, 141, 113, 263, 2...",0.0,0.0,3.0,43.0,0.0,...,45.0,10.0,4.0,1.0,6.0,17.0,51.0,58.0,0.0,4.0
17,2015,2,1,17,"[170, 232, 236, 25, 189, 237, 121, 145, 112, 1...",0.0,0.0,2.0,42.0,0.0,...,74.0,9.0,1.0,0.0,7.0,20.0,54.0,94.0,0.0,2.0
18,2015,2,1,18,"[227, 231, 68, 231, 230, 87, 141, 7, 159, 114,...",0.0,0.0,0.0,46.0,0.0,...,71.0,8.0,6.0,0.0,9.0,16.0,43.0,51.0,0.0,3.0
19,2015,2,1,19,"[97, 130, 138, 79, 148, 41, 181, 114, 151, 148...",0.0,0.0,3.0,20.0,0.0,...,39.0,6.0,4.0,0.0,3.0,10.0,32.0,23.0,0.0,2.0
20,2015,2,1,20,"[189, 40, 246, 90, 249, 66, 90, 229, 224, 186,...",0.0,0.0,1.0,22.0,0.0,...,39.0,2.0,3.0,4.0,6.0,14.0,37.0,30.0,0.0,0.0
21,2015,2,1,21,"[223, 106, 66, 186, 234, 239, 113, 236, 249, 2...",0.0,0.0,2.0,21.0,0.0,...,41.0,7.0,2.0,1.0,5.0,9.0,31.0,49.0,0.0,2.0
22,2015,2,1,22,"[141, 87, 224, 141, 249, 233, 113, 161, 236, 1...",0.0,0.0,0.0,45.0,0.0,...,70.0,13.0,6.0,1.0,6.0,27.0,59.0,117.0,0.0,2.0
23,2015,2,1,23,"[113, 236, 148, 186, 246, 239, 229, 107, 137, ...",0.0,0.0,2.0,31.0,0.0,...,55.0,11.0,4.0,3.0,10.0,33.0,26.0,34.0,0.0,3.0
24,2015,2,2,0,"[231, 36, 249, 189, 42, 36, 186, 37, 97, 162, ...",0.0,0.0,0.0,10.0,0.0,...,31.0,1.0,6.0,1.0,9.0,7.0,7.0,11.0,0.0,1.0
25,2015,2,2,1,"[255, 144, 196, 161, 234, 71, 188, 162, 223, 7...",0.0,0.0,2.0,5.0,0.0,...,15.0,1.0,0.0,1.0,2.0,4.0,1.0,7.0,0.0,3.0
26,2015,2,2,2,"[39, 211, 7, 231, 230, 114, 235, 231, 234, 227...",0.0,0.0,0.0,2.0,0.0,...,9.0,1.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,0.0
27,2015,2,2,3,"[48, 113, 177, 255, 164, 79, 237, 68, 48, 232,...",0.0,0.0,0.0,1.0,0.0,...,12.0,0.0,0.0,0.0,1.0,3.0,2.0,1.0,0.0,0.0
28,2015,2,2,4,"[79, 236, 41, 186, 68, 68, 197, 232, 190, 181,...",0.0,0.0,0.0,10.0,0.0,...,6.0,1.0,2.0,0.0,4.0,3.0,3.0,7.0,0.0,0.0
29,2015,2,2,5,"[244, 107, 79, 141, 42, 50, 229, 249, 107, 225...",0.0,0.0,0.0,3.0,0.0,...,3.0,1.0,0.0,1.0,0.0,5.0,7.0,10.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569,2015,6,29,18,"[229, 131, 79, 148, 229, 90, 237, 161, 246, 50...",0.0,0.0,0.0,17.0,0.0,...,35.0,7.0,1.0,0.0,2.0,32.0,26.0,29.0,0.0,1.0
3570,2015,6,29,19,"[76, 144, 170, 164, 148, 132, 239, 230, 163, 1...",0.0,0.0,2.0,18.0,0.0,...,37.0,6.0,5.0,0.0,4.0,39.0,28.0,20.0,0.0,2.0
3571,2015,6,29,20,"[246, 161, 158, 163, 161, 138, 234, 140, 236, ...",0.0,0.0,0.0,17.0,0.0,...,44.0,5.0,3.0,2.0,7.0,36.0,15.0,28.0,0.0,1.0
3572,2015,6,29,21,"[97, 231, 148, 62, 231, 234, 186, 231, 143, 11...",0.0,0.0,0.0,18.0,0.0,...,45.0,2.0,4.0,1.0,5.0,22.0,17.0,39.0,0.0,2.0
3573,2015,6,29,22,"[231, 161, 162, 163, 230, 230, 13, 162, 68, 24...",0.0,0.0,3.0,17.0,0.0,...,55.0,5.0,2.0,0.0,8.0,21.0,21.0,23.0,0.0,1.0
3574,2015,6,29,23,"[148, 162, 143, 260, 230, 79, 186, 231, 160, 2...",0.0,0.0,2.0,20.0,0.0,...,37.0,3.0,1.0,1.0,6.0,16.0,11.0,11.0,0.0,1.0
3575,2015,6,30,0,"[138, 141, 79, 230, 79, 145, 188, 177, 79, 148...",0.0,0.0,0.0,12.0,0.0,...,32.0,3.0,1.0,1.0,3.0,14.0,2.0,15.0,0.0,0.0
3576,2015,6,30,1,"[66, 26, 66, 37, 50, 36, 164, 48, 248, 234, 36...",0.0,0.0,0.0,6.0,0.0,...,11.0,3.0,0.0,0.0,1.0,9.0,7.0,4.0,0.0,1.0
3577,2015,6,30,2,"[181, 158, 90, 234, 80, 148, 148, 132, 79, 265...",0.0,0.0,0.0,2.0,0.0,...,9.0,1.0,0.0,0.0,2.0,5.0,1.0,1.0,0.0,1.0
3578,2015,6,30,3,"[260, 158, 255, 92, 142, 230, 68, 230, 93, 132...",0.0,0.0,0.0,2.0,0.0,...,7.0,0.0,1.0,1.0,4.0,3.0,3.0,3.0,0.0,0.0
3579,2015,6,30,4,"[45, 92, 224, 229, 263, 239, 161, 256, 238, 23...",0.0,0.0,1.0,4.0,0.0,...,15.0,0.0,1.0,0.0,1.0,10.0,7.0,9.0,0.0,2.0
3580,2015,6,30,5,"[37, 79, 148, 61, 48, 249, 231, 229, 249, 152,...",0.0,0.0,0.0,12.0,0.0,...,7.0,3.0,4.0,0.0,1.0,9.0,15.0,16.0,0.0,5.0
3581,2015,6,30,6,"[263, 37, 13, 164, 263, 198, 107, 236, 65, 249...",0.0,0.0,0.0,18.0,0.0,...,31.0,5.0,2.0,1.0,8.0,9.0,20.0,30.0,0.0,2.0
3582,2015,6,30,7,"[236, 186, 231, 68, 229, 36, 143, 144, 33, 148...",0.0,0.0,1.0,43.0,0.0,...,29.0,9.0,5.0,1.0,5.0,17.0,51.0,48.0,0.0,6.0
3583,2015,6,30,8,"[17, 79, 231, 68, 263, 90, 13, 229, 144, 138, ...",0.0,0.0,2.0,45.0,0.0,...,39.0,7.0,7.0,5.0,7.0,20.0,76.0,70.0,0.0,1.0
3584,2015,6,30,9,"[212, 145, 141, 142, 7, 229, 230, 148, 4, 236,...",0.0,0.0,1.0,39.0,0.0,...,38.0,8.0,2.0,0.0,10.0,16.0,83.0,66.0,0.0,1.0
3585,2015,6,30,10,"[144, 228, 186, 230, 158, 50, 142, 50, 229, 24...",0.0,0.0,0.0,24.0,0.0,...,34.0,3.0,2.0,1.0,1.0,14.0,46.0,42.0,0.0,1.0
3586,2015,6,30,11,"[231, 158, 50, 211, 186, 144, 26, 48, 165, 142...",0.0,0.0,1.0,19.0,0.0,...,26.0,5.0,5.0,1.0,3.0,22.0,34.0,24.0,0.0,0.0
3587,2015,6,30,12,"[179, 17, 87, 61, 237, 231, 228, 100, 233, 249...",0.0,0.0,2.0,25.0,0.0,...,20.0,5.0,3.0,1.0,4.0,14.0,24.0,23.0,0.0,1.0
3588,2015,6,30,13,"[138, 129, 37, 246, 107, 170, 50, 56, 249, 163...",0.0,0.0,0.0,17.0,0.0,...,20.0,7.0,2.0,0.0,7.0,22.0,18.0,22.0,0.0,1.0
3589,2015,6,30,14,"[211, 68, 161, 182, 138, 50, 229, 146, 10, 75,...",0.0,0.0,2.0,23.0,0.0,...,22.0,4.0,2.0,1.0,6.0,15.0,15.0,30.0,0.0,2.0
3590,2015,6,30,15,"[178, 170, 164, 262, 141, 137, 121, 237, 233, ...",0.0,0.0,1.0,22.0,0.0,...,23.0,4.0,3.0,2.0,3.0,22.0,16.0,31.0,0.0,0.0
3591,2015,6,30,16,"[170, 239, 161, 224, 62, 144, 144, 48, 100, 10...",0.0,0.0,0.0,23.0,0.0,...,17.0,4.0,3.0,0.0,10.0,37.0,24.0,27.0,0.0,1.0
3592,2015,6,30,17,"[188, 246, 234, 87, 50, 231, 233, 144, 170, 17...",0.0,0.0,1.0,14.0,0.0,...,41.0,3.0,8.0,1.0,2.0,36.0,32.0,33.0,0.0,2.0
3593,2015,6,30,18,"[239, 80, 211, 161, 144, 256, 17, 170, 116, 16...",0.0,0.0,1.0,22.0,0.0,...,40.0,8.0,3.0,2.0,4.0,48.0,41.0,38.0,0.0,4.0
3594,2015,6,30,19,"[229, 237, 141, 161, 246, 236, 162, 246, 137, ...",0.0,0.0,3.0,28.0,0.0,...,62.0,11.0,5.0,1.0,9.0,41.0,37.0,39.0,0.0,3.0
3595,2015,6,30,20,"[164, 181, 163, 256, 80, 13, 79, 13, 161, 107,...",0.0,0.0,2.0,15.0,0.0,...,49.0,5.0,3.0,1.0,6.0,37.0,29.0,29.0,0.0,3.0
3596,2015,6,30,21,"[164, 161, 144, 233, 163, 170, 65, 255, 230, 2...",0.0,0.0,1.0,44.0,0.0,...,59.0,4.0,3.0,0.0,11.0,19.0,25.0,46.0,0.0,0.0
3597,2015,6,30,22,"[211, 234, 163, 256, 232, 163, 253, 42, 93, 42...",0.0,0.0,2.0,26.0,0.0,...,67.0,4.0,0.0,0.0,8.0,32.0,24.0,36.0,0.0,2.0
3598,2015,6,30,23,"[225, 132, 255, 230, 163, 164, 246, 231, 61, 1...",0.0,0.0,0.0,21.0,0.0,...,43.0,6.0,6.0,1.0,9.0,15.0,11.0,33.0,0.0,3.0

In [111]:
#Year/Month/Day
lst = []
for i in range(1,31): # Num of days plus 1
    weather = pd.read_csv('https://www.wunderground.com/history/airport/KNYC/2015/6/'+str(i)+'/DailyHistory.html?req_city=New+York&req_state=NY&req_statename=New+York&reqdb.zip=10001&reqdb.magic=10&reqdb.wmo=99999&format=1')
    lst.append(weather)

jun2015_weather = pd.concat(lst)

In [113]:
#jun2015_weather.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jun2015_weather.csv')

In [9]:
jan2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jan2015_weather.csv')
feb2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/feb2015_weather.csv')
mar2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/mar2015_weather.csv')
apr2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/apr2015_weather.csv')
may2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/may2015_weather.csv')
jun2015_weather = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/jun2015_weather.csv')

In [10]:
total_weather = pd.concat([jan2015_weather, feb2015_weather, mar2015_weather,
                         apr2015_weather, may2015_weather, jun2015_weather])

In [127]:
new_weather = pd.concat([feb2015_weather, mar2015_weather,
                         apr2015_weather, may2015_weather, jun2015_weather])

In [128]:
def time_conv(x):
    x = x[11:13]
    
    if x == '01':
        return '20'
    elif x == '02':
        return '21'
    elif x == '03':
        return '22'
    elif x == '04':
        return '23'
    elif x == '05':
        return '00'
    elif x == '06':
        return '01'
    elif x == '07':
        return '02'
    elif x == '08':
        return '03'
    elif x == '09':
        return '04'
    elif x == '10':
        return '05'
    elif x == '11':
        return '06'
    elif x == '12':
        return '07'
    elif x == '13':
        return '08'
    elif x == '14':
        return '09'
    elif x == '15':
        return '10'
    elif x == '16':
        return '11'
    elif x == '17':
        return '12'
    elif x == '18':
        return '13'
    elif x == '19':
        return '14'
    elif x == '20':
        return '15'
    elif x == '21':
        return '16'
    elif x == '22':
        return '17'
    elif x == '23':
        return '18'
    elif x == '00':
        return '19'
    else:
        return 'ERROR'

In [129]:
#total_weather = total_weather.drop('Time', 1)
new_weather.insert(0, 'Time', new_weather['DateUTC<br />'].map(time_conv))

In [130]:
Time = list(new_weather['Time'])
Time2 = []
total_count = 0
counter = 0
prev = 0
error2_counter = 0
for i in Time:
    #print int(i), counter
    
    if prev == i:
        #print 'caught_1'
        Time2.append(np.nan)
        continue
    else:
        prev = i
    
    if int(i) == counter:
        Time2.append(i)
    else:
        Time2.append('ERROR2')
        counter += +1
        print '=============================='
        error2_counter += 1
        pass
    
    if counter == 23:
        counter = 0
    else:
        counter += 1
    
    total_count += 1

print error2_counter

==============================
1

In [131]:
new_weather.insert(0, 'Time_Unique', Time2)
new_weather = new_weather.reset_index().drop('index', 1)
new_weather = new_weather[new_weather['Time_Unique'].notnull()]
new_weather = new_weather.reset_index().drop('index', 1)

In [132]:
new_weather #Feb-Jun Data (5 MONTHS)

,Time_Unique,Time,Conditions,DateUTC<br />,Dew PointF,Events,Gust SpeedMPH,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,TimeEDT,TimeEST,Unnamed: 0,VisibilityMPH,Wind Direction,Wind SpeedMPH,WindDirDegrees
0,00,00,Clear,2015-02-01 05:51:00<br />,6.1,NaN,-,55.0,NaN,30.19,19.9,NaN,12:51 AM,0,10.0,Calm,Calm,0
1,01,01,Partly Cloudy,2015-02-01 06:51:00<br />,6.1,NaN,-,53.0,NaN,30.19,21.0,NaN,1:51 AM,1,10.0,WSW,3.5,250
2,02,02,Clear,2015-02-01 07:51:00<br />,6.1,NaN,-,51.0,NaN,30.19,21.9,NaN,2:51 AM,2,10.0,Variable,3.5,0
3,03,03,Mostly Cloudy,2015-02-01 08:51:00<br />,7.0,NaN,-,50.0,NaN,30.19,23.0,NaN,3:51 AM,3,10.0,Variable,3.5,0
4,04,04,Scattered Clouds,2015-02-01 09:51:00<br />,8.1,NaN,-,51.0,NaN,30.19,24.1,NaN,4:51 AM,4,10.0,North,-9999.0,0
5,05,05,Overcast,2015-02-01 10:51:00<br />,8.1,NaN,-,51.0,NaN,30.21,24.1,NaN,5:51 AM,5,10.0,WSW,8.1,250
6,06,06,Overcast,2015-02-01 11:51:00<br />,10.0,NaN,-,55.0,NaN,30.21,24.1,NaN,6:51 AM,6,10.0,Calm,Calm,0
7,07,07,Overcast,2015-02-01 12:51:00<br />,12.0,NaN,-,55.0,NaN,30.22,26.1,NaN,7:51 AM,7,10.0,Variable,3.5,0
8,08,08,Overcast,2015-02-01 13:51:00<br />,14.0,NaN,-,56.0,NaN,30.22,28.0,NaN,8:51 AM,8,10.0,Calm,Calm,0
9,09,09,Clear,2015-02-01 14:51:00<br />,15.1,NaN,-,52.0,NaN,30.21,30.9,NaN,9:51 AM,9,9.0,Variable,4.6,0
10,10,10,Partly Cloudy,2015-02-01 15:51:00<br />,17.1,NaN,-,50.0,NaN,30.20,34.0,NaN,10:51 AM,10,9.0,WNW,4.6,290
11,11,11,Overcast,2015-02-01 16:51:00<br />,17.1,NaN,-,50.0,NaN,30.18,34.0,NaN,11:51 AM,11,10.0,Variable,3.5,0
12,12,12,Mostly Cloudy,2015-02-01 17:51:00<br />,17.1,NaN,-,46.0,NaN,30.16,36.0,NaN,12:51 PM,12,10.0,Variable,4.6,0
13,13,13,Overcast,2015-02-01 18:51:00<br />,17.1,NaN,-,48.0,NaN,30.14,35.1,NaN,1:51 PM,13,10.0,Variable,4.6,0
14,14,14,Overcast,2015-02-01 19:51:00<br />,18.0,NaN,-,50.0,NaN,30.14,35.1,NaN,2:51 PM,14,10.0,West,6.9,270
15,15,15,Overcast,2015-02-01 20:51:00<br />,19.0,NaN,-,52.0,NaN,30.14,35.1,NaN,3:51 PM,15,10.0,Variable,3.5,0
16,16,16,Partly Cloudy,2015-02-01 21:51:00<br />,19.0,NaN,-,52.0,NaN,30.13,35.1,NaN,4:51 PM,16,10.0,Variable,3.5,0
17,17,17,Overcast,2015-02-01 22:51:00<br />,19.0,NaN,-,52.0,NaN,30.12,35.1,NaN,5:51 PM,17,10.0,Calm,Calm,0
18,18,18,Overcast,2015-02-01 23:51:00<br />,19.0,NaN,-,50.0,NaN,30.12,36.0,NaN,6:51 PM,18,10.0,South,3.5,190
19,19,19,Overcast,2015-02-02 00:51:00<br />,19.9,NaN,-,54.0,NaN,30.09,35.1,NaN,7:51 PM,19,10.0,SSE,4.6,150
20,20,20,Light Snow,2015-02-02 01:51:00<br />,23.0,Snow,-,61.0,0.00,30.09,35.1,NaN,8:51 PM,20,5.0,Variable,4.6,0
21,21,21,Haze,2015-02-02 02:06:00<br />,24.1,NaN,-,67.0,0.00,30.10,34.0,NaN,9:06 PM,21,3.0,South,4.6,170
22,22,22,Light Snow,2015-02-02 03:10:00<br />,26.1,Snow,-,75.0,0.01,30.05,33.1,NaN,10:10 PM,25,1.8,Calm,Calm,0
23,23,23,Light Snow,2015-02-02 04:27:00<br />,28.9,Snow,-,85.0,0.01,30.03,33.1,NaN,11:27 PM,30,3.0,SSE,8.1,160
24,00,00,Light Snow,2015-02-02 05:00:00<br />,28.9,Snow,-,85.0,0.00,30.00,33.1,NaN,12:00 AM,0,1.5,Variable,5.8,0
25,01,01,Light Snow,2015-02-02 06:03:00<br />,30.0,Snow,-,89.0,0.00,29.95,33.1,NaN,1:03 AM,2,0.8,Variable,5.8,0
26,02,02,Snow,2015-02-02 07:51:00<br />,30.0,Fog-Snow,19.6,89.0,0.10,29.80,33.1,NaN,2:51 AM,5,0.2,ESE,11.5,120
27,03,03,Snow,2015-02-02 08:51:00<br />,30.0,Fog-Snow,18.4,89.0,0.11,29.73,33.1,NaN,3:51 AM,6,0.5,ESE,8.1,120
28,04,04,Light Snow,2015-02-02 09:16:00<br />,30.0,Snow,-,89.0,0.05,29.72,33.1,NaN,4:16 AM,7,1.0,Variable,6.9,0
29,05,05,Rain,2015-02-02 10:51:00<br />,30.0,Rain,18.4,92.0,0.14,29.63,32.0,NaN,5:51 AM,11,2.5,ENE,10.4,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,17,17,Clear,2015-06-29 22:51:00<br />,55.0,NaN,-,50.0,NaN,29.91,75.0,6:51 PM,NaN,18,10.0,Variable,6.9,0
3569,18,18,Clear,2015-06-29 23:51:00<br />,54.0,NaN,-,48.0,NaN,29.91,75.0,7:51 PM,NaN,19,10.0,Variable,4.6,0
3570,19,19,Clear,2015-06-30 00:51:00<br />,54.0,NaN,-,50.0,NaN,29.92,73.9,8:51 PM,NaN,20,10.0,WSW,4.6,240
3571,20,20,Clear,2015-06-30 01:51:00<br />,54.0,NaN,-,51.0,NaN,29.94,73.0,9:51 PM,NaN,21,10.0,Variable,3.5,0
3572,21,21,Clear,2015-06-30 02:51:00<br />,55.9,NaN,-,57.0,NaN,29.95,72.0,10:51 PM,NaN,22,10.0,Variable,3.5,0
3573,22,22,Clear,2015-06-30 03:51:00<br />,55.0,NaN,-,55.0,NaN,29.95,72.0,11:51 PM,NaN,23,10.0,SSW,3.5,210
3574,23,23,Clear,2015-06-30 04:51:00<br />,55.9,NaN,-,57.0,NaN,29.95,72.0,12:51 AM,NaN,0,10.0,Variable,4.6,0
3575,00,00,Clear,2015-06-30 05:51:00<br />,55.9,NaN,-,57.0,NaN,29.96,72.0,1:51 AM,NaN,1,10.0,Variable,6.9,0
3576,01,01,Clear,2015-06-30 06:51:00<br />,55.9,NaN,-,59.0,NaN,29.96,71.1,2:51 AM,NaN,2,10.0,Variable,5.8,0
3577,02,02,Clear,2015-06-30 07:51:00<br />,57.0,NaN,-,63.0,NaN,29.96,70.0,3:51 AM,NaN,3,10.0,Calm,Calm,0
3578,03,03,Clear,2015-06-30 08:51:00<br />,57.0,NaN,-,65.0,NaN,29.95,69.1,4:51 AM,NaN,4,10.0,Calm,Calm,0
3579,04,04,Mostly Cloudy,2015-06-30 09:51:00<br />,57.9,NaN,-,70.0,NaN,29.96,68.0,5:51 AM,NaN,5,10.0,Calm,Calm,0
3580,05,05,Clear,2015-06-30 10:51:00<br />,59.0,NaN,-,68.0,NaN,29.97,70.0,6:51 AM,NaN,6,10.0,Calm,Calm,0
3581,06,06,Mostly Cloudy,2015-06-30 11:51:00<br />,59.0,NaN,-,61.0,NaN,29.99,73.0,7:51 AM,NaN,7,10.0,Variable,4.6,0
3582,07,07,Clear,2015-06-30 12:51:00<br />,57.9,NaN,-,55.0,NaN,29.97,75.0,8:51 AM,NaN,8,10.0,Variable,3.5,0
3583,08,08,Partly Cloudy,2015-06-30 13:51:00<br />,57.0,NaN,-,50.0,NaN,29.97,77.0,9:51 AM,NaN,9,10.0,Variable,3.5,0
3584,09,09,Partly Cloudy,2015-06-30 14:51:00<br />,60.1,NaN,20.7,54.0,NaN,29.96,78.1,10:51 AM,NaN,10,10.0,Variable,3.5,0
3585,10,10,Clear,2015-06-30 15:51:00<br />,55.9,NaN,24.2,45.0,NaN,29.96,79.0,11:51 AM,NaN,11,10.0,South,9.2,190
3586,11,11,Mostly Cloudy,2015-06-30 16:51:00<br />,57.0,NaN,-,47.0,NaN,29.95,79.0,12:51 PM,NaN,12,10.0,North,-9999.0,0
3587,12,12,Partly Cloudy,2015-06-30 17:51:00<br />,55.9,NaN,-,42.0,NaN,29.93,81.0,1:51 PM,NaN,13,10.0,North,-9999.0,0
3588,13,13,Clear,2015-06-30 18:51:00<br />,57.9,NaN,20.7,47.0,NaN,29.90,80.1,2:51 PM,NaN,14,10.0,Variable,4.6,0
3589,14,14,Clear,2015-06-30 19:51:00<br />,57.9,NaN,25.3,47.0,NaN,29.90,80.1,3:51 PM,NaN,15,10.0,South,8.1,180
3590,15,15,Clear,2015-06-30 20:51:00<br />,61.0,NaN,-,60.0,NaN,29.90,75.9,4:51 PM,NaN,16,10.0,Variable,6.9,0
3591,16,16,Partly Cloudy,2015-06-30 21:51:00<br />,64.0,NaN,21.9,67.0,NaN,29.88,75.9,5:51 PM,NaN,17,10.0,Variable,4.6,0
3592,17,17,Scattered Clouds,2015-06-30 22:51:00<br />,64.9,NaN,-,71.0,NaN,29.88,75.0,6:51 PM,NaN,18,10.0,Variable,6.9,0
3593,18,18,Mostly Cloudy,2015-06-30 23:32:00<br />,64.9,NaN,-,71.0,NaN,29.91,75.0,7:32 PM,NaN,19,10.0,Variable,6.9,0
3594,19,19,Mostly Cloudy,2015-07-01 00:21:00<br />,64.9,NaN,-,73.0,NaN,29.91,73.9,8:21 PM,NaN,21,10.0,Variable,6.9,0
3595,20,20,Overcast,2015-07-01 01:51:00<br />,66.9,NaN,-,79.0,NaN,29.88,73.9,9:51 PM,NaN,25,10.0,Variable,4.6,0
3596,21,21,Mostly Cloudy,2015-07-01 02:51:00<br />,68.0,NaN,-,82.0,NaN,29.87,73.9,10:51 PM,NaN,26,10.0,Variable,6.9,0
3597,22,22,Overcast,2015-07-01 03:36:00<br />,68.0,NaN,-,82.0,NaN,29.88,73.9,11:36 PM,NaN,27,10.0,Variable,4.6,0

In [144]:
error = new_weather[new_weather['Time_Unique'] == 'ERROR2'] #LINE 635

In [155]:
final_weather = pd.concat([new_weather[:635], new_weather[634:635], new_weather[634:635], new_weather[636:]])

In [169]:
final_weather = final_weather.drop('index',1 )

In [181]:
final_weather.ix[635, 'Time'] = 11

In [191]:
weather = weather.drop(['Time_Unique', 'Time', 'DateUTC<br />', 'TimeEDT', 'TimeEST', 'Unnamed: 0'], 1)

In [204]:
index = []
for i in range(0,len(weather)):
    index.append(i)

In [205]:
print len(index)
print len(uber)

3599
3599

In [206]:
uber['Index'] = index
uber

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,257,258,259,260,261,262,263,264,265,Index
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,10.0,1.0,2.0,8.0,18.0,20.0,59.0,0.0,0.0,0
1,2015,2,1,1,"[162, 211, 79, 107, 198, 188, 162, 255, 107, 2...",0.0,0.0,0.0,58.0,0.0,...,5.0,4.0,0.0,7.0,8.0,10.0,27.0,0.0,0.0,1
2,2015,2,1,2,"[79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...",0.0,0.0,0.0,30.0,0.0,...,2.0,0.0,3.0,6.0,8.0,6.0,20.0,0.0,0.0,2
3,2015,2,1,3,"[255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...",0.0,0.0,0.0,23.0,0.0,...,0.0,2.0,0.0,3.0,3.0,8.0,14.0,0.0,1.0,3
4,2015,2,1,4,"[61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...",0.0,0.0,0.0,11.0,0.0,...,1.0,3.0,0.0,1.0,5.0,2.0,2.0,0.0,0.0,4
5,2015,2,1,5,"[186, 37, 249, 132, 36, 50, 112, 255, 37, 255,...",0.0,0.0,0.0,9.0,0.0,...,1.0,1.0,0.0,1.0,2.0,6.0,4.0,0.0,0.0,5
6,2015,2,1,6,"[37, 215, 239, 141, 132, 107, 17, 4, 230, 107,...",0.0,0.0,0.0,9.0,0.0,...,2.0,1.0,0.0,3.0,1.0,5.0,8.0,0.0,0.0,6
7,2015,2,1,7,"[79, 224, 239, 260, 123, 129, 13, 256, 36, 79,...",0.0,0.0,1.0,10.0,0.0,...,3.0,2.0,0.0,1.0,1.0,6.0,9.0,0.0,0.0,7
8,2015,2,1,8,"[223, 15, 127, 137, 107, 37, 48, 263, 4, 263, ...",0.0,0.0,0.0,8.0,0.0,...,1.0,2.0,0.0,2.0,4.0,12.0,19.0,0.0,0.0,8
9,2015,2,1,9,"[151, 255, 121, 51, 246, 238, 161, 142, 141, 2...",0.0,0.0,0.0,17.0,0.0,...,2.0,1.0,1.0,5.0,3.0,21.0,28.0,0.0,2.0,9
10,2015,2,1,10,"[37, 170, 65, 188, 143, 152, 236, 143, 158, 65...",0.0,0.0,1.0,24.0,0.0,...,9.0,2.0,1.0,5.0,8.0,28.0,36.0,0.0,5.0,10
11,2015,2,1,11,"[165, 50, 181, 249, 142, 236, 170, 211, 43, 17...",0.0,0.0,1.0,26.0,0.0,...,4.0,4.0,1.0,6.0,8.0,29.0,31.0,0.0,2.0,11
12,2015,2,1,12,"[246, 48, 260, 143, 42, 125, 79, 82, 234, 181,...",0.0,0.0,1.0,28.0,0.0,...,4.0,0.0,1.0,7.0,11.0,30.0,33.0,0.0,3.0,12
13,2015,2,1,13,"[162, 209, 112, 211, 79, 170, 243, 33, 49, 168...",0.0,0.0,0.0,24.0,0.0,...,5.0,3.0,2.0,8.0,11.0,23.0,33.0,0.0,1.0,13
14,2015,2,1,14,"[95, 79, 140, 145, 231, 141, 68, 233, 257, 229...",0.0,0.0,0.0,25.0,0.0,...,4.0,2.0,2.0,5.0,12.0,18.0,32.0,0.0,0.0,14
15,2015,2,1,15,"[138, 132, 263, 137, 144, 97, 50, 88, 68, 151,...",0.0,0.0,1.0,32.0,0.0,...,16.0,5.0,2.0,6.0,13.0,27.0,35.0,0.0,0.0,15
16,2015,2,1,16,"[229, 145, 220, 132, 158, 33, 141, 113, 263, 2...",0.0,0.0,3.0,43.0,0.0,...,10.0,4.0,1.0,6.0,17.0,51.0,58.0,0.0,4.0,16
17,2015,2,1,17,"[170, 232, 236, 25, 189, 237, 121, 145, 112, 1...",0.0,0.0,2.0,42.0,0.0,...,9.0,1.0,0.0,7.0,20.0,54.0,94.0,0.0,2.0,17
18,2015,2,1,18,"[227, 231, 68, 231, 230, 87, 141, 7, 159, 114,...",0.0,0.0,0.0,46.0,0.0,...,8.0,6.0,0.0,9.0,16.0,43.0,51.0,0.0,3.0,18
19,2015,2,1,19,"[97, 130, 138, 79, 148, 41, 181, 114, 151, 148...",0.0,0.0,3.0,20.0,0.0,...,6.0,4.0,0.0,3.0,10.0,32.0,23.0,0.0,2.0,19
20,2015,2,1,20,"[189, 40, 246, 90, 249, 66, 90, 229, 224, 186,...",0.0,0.0,1.0,22.0,0.0,...,2.0,3.0,4.0,6.0,14.0,37.0,30.0,0.0,0.0,20
21,2015,2,1,21,"[223, 106, 66, 186, 234, 239, 113, 236, 249, 2...",0.0,0.0,2.0,21.0,0.0,...,7.0,2.0,1.0,5.0,9.0,31.0,49.0,0.0,2.0,21
22,2015,2,1,22,"[141, 87, 224, 141, 249, 233, 113, 161, 236, 1...",0.0,0.0,0.0,45.0,0.0,...,13.0,6.0,1.0,6.0,27.0,59.0,117.0,0.0,2.0,22
23,2015,2,1,23,"[113, 236, 148, 186, 246, 239, 229, 107, 137, ...",0.0,0.0,2.0,31.0,0.0,...,11.0,4.0,3.0,10.0,33.0,26.0,34.0,0.0,3.0,23
24,2015,2,2,0,"[231, 36, 249, 189, 42, 36, 186, 37, 97, 162, ...",0.0,0.0,0.0,10.0,0.0,...,1.0,6.0,1.0,9.0,7.0,7.0,11.0,0.0,1.0,24
25,2015,2,2,1,"[255, 144, 196, 161, 234, 71, 188, 162, 223, 7...",0.0,0.0,2.0,5.0,0.0,...,1.0,0.0,1.0,2.0,4.0,1.0,7.0,0.0,3.0,25
26,2015,2,2,2,"[39, 211, 7, 231, 230, 114, 235, 231, 234, 227...",0.0,0.0,0.0,2.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,0.0,26
27,2015,2,2,3,"[48, 113, 177, 255, 164, 79, 237, 68, 48, 232,...",0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,3.0,2.0,1.0,0.0,0.0,27
28,2015,2,2,4,"[79, 236, 41, 186, 68, 68, 197, 232, 190, 181,...",0.0,0.0,0.0,10.0,0.0,...,1.0,2.0,0.0,4.0,3.0,3.0,7.0,0.0,0.0,28
29,2015,2,2,5,"[244, 107, 79, 141, 42, 50, 229, 249, 107, 225...",0.0,0.0,0.0,3.0,0.0,...,1.0,0.0,1.0,0.0,5.0,7.0,10.0,0.0,1.0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569,2015,6,29,18,"[229, 131, 79, 148, 229, 90, 237, 161, 246, 50...",0.0,0.0,0.0,17.0,0.0,...,7.0,1.0,0.0,2.0,32.0,26.0,29.0,0.0,1.0,3569
3570,2015,6,29,19,"[76, 144, 170, 164, 148, 132, 239, 230, 163, 1...",0.0,0.0,2.0,18.0,0.0,...,6.0,5.0,0.0,4.0,39.0,28.0,20.0,0.0,2.0,3570
3571,2015,6,29,20,"[246, 161, 158, 163, 161, 138, 234, 140, 236, ...",0.0,0.0,0.0,17.0,0.0,...,5.0,3.0,2.0,7.0,36.0,15.0,28.0,0.0,1.0,3571
3572,2015,6,29,21,"[97, 231, 148, 62, 231, 234, 186, 231, 143, 11...",0.0,0.0,0.0,18.0,0.0,...,2.0,4.0,1.0,5.0,22.0,17.0,39.0,0.0,2.0,3572
3573,2015,6,29,22,"[231, 161, 162, 163, 230, 230, 13, 162, 68, 24...",0.0,0.0,3.0,17.0,0.0,...,5.0,2.0,0.0,8.0,21.0,21.0,23.0,0.0,1.0,3573
3574,2015,6,29,23,"[148, 162, 143, 260, 230, 79, 186, 231, 160, 2...",0.0,0.0,2.0,20.0,0.0,...,3.0,1.0,1.0,6.0,16.0,11.0,11.0,0.0,1.0,3574
3575,2015,6,30,0,"[138, 141, 79, 230, 79, 145, 188, 177, 79, 148...",0.0,0.0,0.0,12.0,0.0,...,3.0,1.0,1.0,3.0,14.0,2.0,15.0,0.0,0.0,3575
3576,2015,6,30,1,"[66, 26, 66, 37, 50, 36, 164, 48, 248, 234, 36...",0.0,0.0,0.0,6.0,0.0,...,3.0,0.0,0.0,1.0,9.0,7.0,4.0,0.0,1.0,3576
3577,2015,6,30,2,"[181, 158, 90, 234, 80, 148, 148, 132, 79, 265...",0.0,0.0,0.0,2.0,0.0,...,1.0,0.0,0.0,2.0,5.0,1.0,1.0,0.0,1.0,3577
3578,2015,6,30,3,"[260, 158, 255, 92, 142, 230, 68, 230, 93, 132...",0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,1.0,4.0,3.0,3.0,3.0,0.0,0.0,3578
3579,2015,6,30,4,"[45, 92, 224, 229, 263, 239, 161, 256, 238, 23...",0.0,0.0,1.0,4.0,0.0,...,0.0,1.0,0.0,1.0,10.0,7.0,9.0,0.0,2.0,3579
3580,2015,6,30,5,"[37, 79, 148, 61, 48, 249, 231, 229, 249, 152,...",0.0,0.0,0.0,12.0,0.0,...,3.0,4.0,0.0,1.0,9.0,15.0,16.0,0.0,5.0,3580
3581,2015,6,30,6,"[263, 37, 13, 164, 263, 198, 107, 236, 65, 249...",0.0,0.0,0.0,18.0,0.0,...,5.0,2.0,1.0,8.0,9.0,20.0,30.0,0.0,2.0,3581
3582,2015,6,30,7,"[236, 186, 231, 68, 229, 36, 143, 144, 33, 148...",0.0,0.0,1.0,43.0,0.0,...,9.0,5.0,1.0,5.0,17.0,51.0,48.0,0.0,6.0,3582
3583,2015,6,30,8,"[17, 79, 231, 68, 263, 90, 13, 229, 144, 138, ...",0.0,0.0,2.0,45.0,0.0,...,7.0,7.0,5.0,7.0,20.0,76.0,70.0,0.0,1.0,3583
3584,2015,6,30,9,"[212, 145, 141, 142, 7, 229, 230, 148, 4, 236,...",0.0,0.0,1.0,39.0,0.0,...,8.0,2.0,0.0,10.0,16.0,83.0,66.0,0.0,1.0,3584
3585,2015,6,30,10,"[144, 228, 186, 230, 158, 50, 142, 50, 229, 24...",0.0,0.0,0.0,24.0,0.0,...,3.0,2.0,1.0,1.0,14.0,46.0,42.0,0.0,1.0,3585
3586,2015,6,30,11,"[231, 158, 50, 211, 186, 144, 26, 48, 165, 142...",0.0,0.0,1.0,19.0,0.0,...,5.0,5.0,1.0,3.0,22.0,34.0,24.0,0.0,0.0,3586
3587,2015,6,30,12,"[179, 17, 87, 61, 237, 231, 228, 100, 233, 249...",0.0,0.0,2.0,25.0,0.0,...,5.0,3.0,1.0,4.0,14.0,24.0,23.0,0.0,1.0,3587
3588,2015,6,30,13,"[138, 129, 37, 246, 107, 170, 50, 56, 249, 163...",0.0,0.0,0.0,17.0,0.0,...,7.0,2.0,0.0,7.0,22.0,18.0,22.0,0.0,1.0,3588
3589,2015,6,30,14,"[211, 68, 161, 182, 138, 50, 229, 146, 10, 75,...",0.0,0.0,2.0,23.0,0.0,...,4.0,2.0,1.0,6.0,15.0,15.0,30.0,0.0,2.0,3589
3590,2015,6,30,15,"[178, 170, 164, 262, 141, 137, 121, 237, 233, ...",0.0,0.0,1.0,22.0,0.0,...,4.0,3.0,2.0,3.0,22.0,16.0,31.0,0.0,0.0,3590
3591,2015,6,30,16,"[170, 239, 161, 224, 62, 144, 144, 48, 100, 10...",0.0,0.0,0.0,23.0,0.0,...,4.0,3.0,0.0,10.0,37.0,24.0,27.0,0.0,1.0,3591
3592,2015,6,30,17,"[188, 246, 234, 87, 50, 231, 233, 144, 170, 17...",0.0,0.0,1.0,14.0,0.0,...,3.0,8.0,1.0,2.0,36.0,32.0,33.0,0.0,2.0,3592
3593,2015,6,30,18,"[239, 80, 211, 161, 144, 256, 17, 170, 116, 16...",0.0,0.0,1.0,22.0,0.0,...,8.0,3.0,2.0,4.0,48.0,41.0,38.0,0.0,4.0,3593
3594,2015,6,30,19,"[229, 237, 141, 161, 246, 236, 162, 246, 137, ...",0.0,0.0,3.0,28.0,0.0,...,11.0,5.0,1.0,9.0,41.0,37.0,39.0,0.0,3.0,3594
3595,2015,6,30,20,"[164, 181, 163, 256, 80, 13, 79, 13, 161, 107,...",0.0,0.0,2.0,15.0,0.0,...,5.0,3.0,1.0,6.0,37.0,29.0,29.0,0.0,3.0,3595
3596,2015,6,30,21,"[164, 161, 144, 233, 163, 170, 65, 255, 230, 2...",0.0,0.0,1.0,44.0,0.0,...,4.0,3.0,0.0,11.0,19.0,25.0,46.0,0.0,0.0,3596
3597,2015,6,30,22,"[211, 234, 163, 256, 232, 163, 253, 42, 93, 42...",0.0,0.0,2.0,26.0,0.0,...,4.0,0.0,0.0,8.0,32.0,24.0,36.0,0.0,2.0,3597
3598,2015,6,30,23,"[225, 132, 255, 230, 163, 164, 246, 231, 61, 1...",0.0,0.0,0.0,21.0,0.0,...,6.0,6.0,1.0,9.0,15.0,11.0,33.0,0.0,3.0,3598

In [207]:
weather['Index'] = index
weather

,Conditions,Dew PointF,Events,Gust SpeedMPH,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind Direction,Wind SpeedMPH,WindDirDegrees,Index
0,Clear,6.1,NaN,-,55.0,NaN,30.19,19.9,10.0,Calm,Calm,0,0
1,Partly Cloudy,6.1,NaN,-,53.0,NaN,30.19,21.0,10.0,WSW,3.5,250,1
2,Clear,6.1,NaN,-,51.0,NaN,30.19,21.9,10.0,Variable,3.5,0,2
3,Mostly Cloudy,7.0,NaN,-,50.0,NaN,30.19,23.0,10.0,Variable,3.5,0,3
4,Scattered Clouds,8.1,NaN,-,51.0,NaN,30.19,24.1,10.0,North,-9999.0,0,4
5,Overcast,8.1,NaN,-,51.0,NaN,30.21,24.1,10.0,WSW,8.1,250,5
6,Overcast,10.0,NaN,-,55.0,NaN,30.21,24.1,10.0,Calm,Calm,0,6
7,Overcast,12.0,NaN,-,55.0,NaN,30.22,26.1,10.0,Variable,3.5,0,7
8,Overcast,14.0,NaN,-,56.0,NaN,30.22,28.0,10.0,Calm,Calm,0,8
9,Clear,15.1,NaN,-,52.0,NaN,30.21,30.9,9.0,Variable,4.6,0,9
10,Partly Cloudy,17.1,NaN,-,50.0,NaN,30.20,34.0,9.0,WNW,4.6,290,10
11,Overcast,17.1,NaN,-,50.0,NaN,30.18,34.0,10.0,Variable,3.5,0,11
12,Mostly Cloudy,17.1,NaN,-,46.0,NaN,30.16,36.0,10.0,Variable,4.6,0,12
13,Overcast,17.1,NaN,-,48.0,NaN,30.14,35.1,10.0,Variable,4.6,0,13
14,Overcast,18.0,NaN,-,50.0,NaN,30.14,35.1,10.0,West,6.9,270,14
15,Overcast,19.0,NaN,-,52.0,NaN,30.14,35.1,10.0,Variable,3.5,0,15
16,Partly Cloudy,19.0,NaN,-,52.0,NaN,30.13,35.1,10.0,Variable,3.5,0,16
17,Overcast,19.0,NaN,-,52.0,NaN,30.12,35.1,10.0,Calm,Calm,0,17
18,Overcast,19.0,NaN,-,50.0,NaN,30.12,36.0,10.0,South,3.5,190,18
19,Overcast,19.9,NaN,-,54.0,NaN,30.09,35.1,10.0,SSE,4.6,150,19
20,Light Snow,23.0,Snow,-,61.0,0.00,30.09,35.1,5.0,Variable,4.6,0,20
21,Haze,24.1,NaN,-,67.0,0.00,30.10,34.0,3.0,South,4.6,170,21
22,Light Snow,26.1,Snow,-,75.0,0.01,30.05,33.1,1.8,Calm,Calm,0,22
23,Light Snow,28.9,Snow,-,85.0,0.01,30.03,33.1,3.0,SSE,8.1,160,23
24,Light Snow,28.9,Snow,-,85.0,0.00,30.00,33.1,1.5,Variable,5.8,0,24
25,Light Snow,30.0,Snow,-,89.0,0.00,29.95,33.1,0.8,Variable,5.8,0,25
26,Snow,30.0,Fog-Snow,19.6,89.0,0.10,29.80,33.1,0.2,ESE,11.5,120,26
27,Snow,30.0,Fog-Snow,18.4,89.0,0.11,29.73,33.1,0.5,ESE,8.1,120,27
28,Light Snow,30.0,Snow,-,89.0,0.05,29.72,33.1,1.0,Variable,6.9,0,28
29,Rain,30.0,Rain,18.4,92.0,0.14,29.63,32.0,2.5,ENE,10.4,60,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569,Clear,55.0,NaN,-,50.0,NaN,29.91,75.0,10.0,Variable,6.9,0,3569
3570,Clear,54.0,NaN,-,48.0,NaN,29.91,75.0,10.0,Variable,4.6,0,3570
3571,Clear,54.0,NaN,-,50.0,NaN,29.92,73.9,10.0,WSW,4.6,240,3571
3572,Clear,54.0,NaN,-,51.0,NaN,29.94,73.0,10.0,Variable,3.5,0,3572
3573,Clear,55.9,NaN,-,57.0,NaN,29.95,72.0,10.0,Variable,3.5,0,3573
3574,Clear,55.0,NaN,-,55.0,NaN,29.95,72.0,10.0,SSW,3.5,210,3574
3575,Clear,55.9,NaN,-,57.0,NaN,29.95,72.0,10.0,Variable,4.6,0,3575
3576,Clear,55.9,NaN,-,57.0,NaN,29.96,72.0,10.0,Variable,6.9,0,3576
3577,Clear,55.9,NaN,-,59.0,NaN,29.96,71.1,10.0,Variable,5.8,0,3577
3578,Clear,57.0,NaN,-,63.0,NaN,29.96,70.0,10.0,Calm,Calm,0,3578
3579,Clear,57.0,NaN,-,65.0,NaN,29.95,69.1,10.0,Calm,Calm,0,3579
3580,Mostly Cloudy,57.9,NaN,-,70.0,NaN,29.96,68.0,10.0,Calm,Calm,0,3580
3581,Clear,59.0,NaN,-,68.0,NaN,29.97,70.0,10.0,Calm,Calm,0,3581
3582,Mostly Cloudy,59.0,NaN,-,61.0,NaN,29.99,73.0,10.0,Variable,4.6,0,3582
3583,Clear,57.9,NaN,-,55.0,NaN,29.97,75.0,10.0,Variable,3.5,0,3583
3584,Partly Cloudy,57.0,NaN,-,50.0,NaN,29.97,77.0,10.0,Variable,3.5,0,3584
3585,Partly Cloudy,60.1,NaN,20.7,54.0,NaN,29.96,78.1,10.0,Variable,3.5,0,3585
3586,Clear,55.9,NaN,24.2,45.0,NaN,29.96,79.0,10.0,South,9.2,190,3586
3587,Mostly Cloudy,57.0,NaN,-,47.0,NaN,29.95,79.0,10.0,North,-9999.0,0,3587
3588,Partly Cloudy,55.9,NaN,-,42.0,NaN,29.93,81.0,10.0,North,-9999.0,0,3588
3589,Clear,57.9,NaN,20.7,47.0,NaN,29.90,80.1,10.0,Variable,4.6,0,3589
3590,Clear,57.9,NaN,25.3,47.0,NaN,29.90,80.1,10.0,South,8.1,180,3590
3591,Clear,61.0,NaN,-,60.0,NaN,29.90,75.9,10.0,Variable,6.9,0,3591
3592,Partly Cloudy,64.0,NaN,21.9,67.0,NaN,29.88,75.9,10.0,Variable,4.6,0,3592
3593,Scattered Clouds,64.9,NaN,-,71.0,NaN,29.88,75.0,10.0,Variable,6.9,0,3593
3594,Mostly Cloudy,64.9,NaN,-,71.0,NaN,29.91,75.0,10.0,Variable,6.9,0,3594
3595,Mostly Cloudy,64.9,NaN,-,73.0,NaN,29.91,73.9,10.0,Variable,6.9,0,3595
3596,Overcast,66.9,NaN,-,79.0,NaN,29.88,73.9,10.0,Variable,4.6,0,3596
3597,Mostly Cloudy,68.0,NaN,-,82.0,NaN,29.87,73.9,10.0,Variable,6.9,0,3597
3598,Overcast,68.0,NaN,-,82.0,NaN,29.88,73.9,10.0,Variable,4.6,0,3598

In [208]:
uber_data = uber.merge(weather)
uber_data

,Year,Month,Day,Hour,locationID,1,2,3,4,5,...,Events,Gust SpeedMPH,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,Wind Direction,Wind SpeedMPH,WindDirDegrees
0,2015,2,1,0,"[164, 107, 7, 239, 249, 50, 107, 137, 226, 79,...",0.0,0.0,4.0,39.0,0.0,...,NaN,-,55.0,NaN,30.19,19.9,10.0,Calm,Calm,0
1,2015,2,1,1,"[162, 211, 79, 107, 198, 188, 162, 255, 107, 2...",0.0,0.0,0.0,58.0,0.0,...,NaN,-,53.0,NaN,30.19,21.0,10.0,WSW,3.5,250
2,2015,2,1,2,"[79, 148, 158, 158, 226, 82, 249, 36, 48, 198,...",0.0,0.0,0.0,30.0,0.0,...,NaN,-,51.0,NaN,30.19,21.9,10.0,Variable,3.5,0
3,2015,2,1,3,"[255, 106, 114, 80, 216, 49, 17, 97, 48, 164, ...",0.0,0.0,0.0,23.0,0.0,...,NaN,-,50.0,NaN,30.19,23.0,10.0,Variable,3.5,0
4,2015,2,1,4,"[61, 80, 22, 69, 50, 87, 246, 144, 48, 233, 21...",0.0,0.0,0.0,11.0,0.0,...,NaN,-,51.0,NaN,30.19,24.1,10.0,North,-9999.0,0
5,2015,2,1,5,"[186, 37, 249, 132, 36, 50, 112, 255, 37, 255,...",0.0,0.0,0.0,9.0,0.0,...,NaN,-,51.0,NaN,30.21,24.1,10.0,WSW,8.1,250
6,2015,2,1,6,"[37, 215, 239, 141, 132, 107, 17, 4, 230, 107,...",0.0,0.0,0.0,9.0,0.0,...,NaN,-,55.0,NaN,30.21,24.1,10.0,Calm,Calm,0
7,2015,2,1,7,"[79, 224, 239, 260, 123, 129, 13, 256, 36, 79,...",0.0,0.0,1.0,10.0,0.0,...,NaN,-,55.0,NaN,30.22,26.1,10.0,Variable,3.5,0
8,2015,2,1,8,"[223, 15, 127, 137, 107, 37, 48, 263, 4, 263, ...",0.0,0.0,0.0,8.0,0.0,...,NaN,-,56.0,NaN,30.22,28.0,10.0,Calm,Calm,0
9,2015,2,1,9,"[151, 255, 121, 51, 246, 238, 161, 142, 141, 2...",0.0,0.0,0.0,17.0,0.0,...,NaN,-,52.0,NaN,30.21,30.9,9.0,Variable,4.6,0
10,2015,2,1,10,"[37, 170, 65, 188, 143, 152, 236, 143, 158, 65...",0.0,0.0,1.0,24.0,0.0,...,NaN,-,50.0,NaN,30.20,34.0,9.0,WNW,4.6,290
11,2015,2,1,11,"[165, 50, 181, 249, 142, 236, 170, 211, 43, 17...",0.0,0.0,1.0,26.0,0.0,...,NaN,-,50.0,NaN,30.18,34.0,10.0,Variable,3.5,0
12,2015,2,1,12,"[246, 48, 260, 143, 42, 125, 79, 82, 234, 181,...",0.0,0.0,1.0,28.0,0.0,...,NaN,-,46.0,NaN,30.16,36.0,10.0,Variable,4.6,0
13,2015,2,1,13,"[162, 209, 112, 211, 79, 170, 243, 33, 49, 168...",0.0,0.0,0.0,24.0,0.0,...,NaN,-,48.0,NaN,30.14,35.1,10.0,Variable,4.6,0
14,2015,2,1,14,"[95, 79, 140, 145, 231, 141, 68, 233, 257, 229...",0.0,0.0,0.0,25.0,0.0,...,NaN,-,50.0,NaN,30.14,35.1,10.0,West,6.9,270
15,2015,2,1,15,"[138, 132, 263, 137, 144, 97, 50, 88, 68, 151,...",0.0,0.0,1.0,32.0,0.0,...,NaN,-,52.0,NaN,30.14,35.1,10.0,Variable,3.5,0
16,2015,2,1,16,"[229, 145, 220, 132, 158, 33, 141, 113, 263, 2...",0.0,0.0,3.0,43.0,0.0,...,NaN,-,52.0,NaN,30.13,35.1,10.0,Variable,3.5,0
17,2015,2,1,17,"[170, 232, 236, 25, 189, 237, 121, 145, 112, 1...",0.0,0.0,2.0,42.0,0.0,...,NaN,-,52.0,NaN,30.12,35.1,10.0,Calm,Calm,0
18,2015,2,1,18,"[227, 231, 68, 231, 230, 87, 141, 7, 159, 114,...",0.0,0.0,0.0,46.0,0.0,...,NaN,-,50.0,NaN,30.12,36.0,10.0,South,3.5,190
19,2015,2,1,19,"[97, 130, 138, 79, 148, 41, 181, 114, 151, 148...",0.0,0.0,3.0,20.0,0.0,...,NaN,-,54.0,NaN,30.09,35.1,10.0,SSE,4.6,150
20,2015,2,1,20,"[189, 40, 246, 90, 249, 66, 90, 229, 224, 186,...",0.0,0.0,1.0,22.0,0.0,...,Snow,-,61.0,0.00,30.09,35.1,5.0,Variable,4.6,0
21,2015,2,1,21,"[223, 106, 66, 186, 234, 239, 113, 236, 249, 2...",0.0,0.0,2.0,21.0,0.0,...,NaN,-,67.0,0.00,30.10,34.0,3.0,South,4.6,170
22,2015,2,1,22,"[141, 87, 224, 141, 249, 233, 113, 161, 236, 1...",0.0,0.0,0.0,45.0,0.0,...,Snow,-,75.0,0.01,30.05,33.1,1.8,Calm,Calm,0
23,2015,2,1,23,"[113, 236, 148, 186, 246, 239, 229, 107, 137, ...",0.0,0.0,2.0,31.0,0.0,...,Snow,-,85.0,0.01,30.03,33.1,3.0,SSE,8.1,160
24,2015,2,2,0,"[231, 36, 249, 189, 42, 36, 186, 37, 97, 162, ...",0.0,0.0,0.0,10.0,0.0,...,Snow,-,85.0,0.00,30.00,33.1,1.5,Variable,5.8,0
25,2015,2,2,1,"[255, 144, 196, 161, 234, 71, 188, 162, 223, 7...",0.0,0.0,2.0,5.0,0.0,...,Snow,-,89.0,0.00,29.95,33.1,0.8,Variable,5.8,0
26,2015,2,2,2,"[39, 211, 7, 231, 230, 114, 235, 231, 234, 227...",0.0,0.0,0.0,2.0,0.0,...,Fog-Snow,19.6,89.0,0.10,29.80,33.1,0.2,ESE,11.5,120
27,2015,2,2,3,"[48, 113, 177, 255, 164, 79, 237, 68, 48, 232,...",0.0,0.0,0.0,1.0,0.0,...,Fog-Snow,18.4,89.0,0.11,29.73,33.1,0.5,ESE,8.1,120
28,2015,2,2,4,"[79, 236, 41, 186, 68, 68, 197, 232, 190, 181,...",0.0,0.0,0.0,10.0,0.0,...,Snow,-,89.0,0.05,29.72,33.1,1.0,Variable,6.9,0
29,2015,2,2,5,"[244, 107, 79, 141, 42, 50, 229, 249, 107, 225...",0.0,0.0,0.0,3.0,0.0,...,Rain,18.4,92.0,0.14,29.63,32.0,2.5,ENE,10.4,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3569,2015,6,29,18,"[229, 131, 79, 148, 229, 90, 237, 161, 246, 50...",0.0,0.0,0.0,17.0,0.0,...,NaN,-,50.0,NaN,29.91,75.0,10.0,Variable,6.9,0
3570,2015,6,29,19,"[76, 144, 170, 164, 148, 132, 239, 230, 163, 1...",0.0,0.0,2.0,18.0,0.0,...,NaN,-,48.0,NaN,29.91,75.0,10.0,Variable,4.6,0
3571,2015,6,29,20,"[246, 161, 158, 163, 161, 138, 234, 140, 236, ...",0.0,0.0,0.0,17.0,0.0,...,NaN,-,50.0,NaN,29.92,73.9,10.0,WSW,4.6,240
3572,2015,6,29,21,"[97, 231, 148, 62, 231, 234, 186, 231, 143, 11...",0.0,0.0,0.0,18.0,0.0,...,NaN,-,51.0,NaN,29.94,73.0,10.0,Variable,3.5,0
3573,2015,6,29,22,"[231, 161, 162, 163, 230, 230, 13, 162, 68, 24...",0.0,0.0,3.0,17.0,0.0,...,NaN,-,57.0,NaN,29.95,72.0,10.0,Variable,3.5,0
3574,2015,6,29,23,"[148, 162, 143, 260, 230, 79, 186, 231, 160, 2...",0.0,0.0,2.0,20.0,0.0,...,NaN,-,55.0,NaN,29.95,72.0,10.0,SSW,3.5,210
3575,2015,6,30,0,"[138, 141, 79, 230, 79, 145, 188, 177, 79, 148...",0.0,0.0,0.0,12.0,0.0,...,NaN,-,57.0,NaN,29.95,72.0,10.0,Variable,4.6,0
3576,2015,6,30,1,"[66, 26, 66, 37, 50, 36, 164, 48, 248, 234, 36...",0.0,0.0,0.0,6.0,0.0,...,NaN,-,57.0,NaN,29.96,72.0,10.0,Variable,6.9,0
3577,2015,6,30,2,"[181, 158, 90, 234, 80, 148, 148, 132, 79, 265...",0.0,0.0,0.0,2.0,0.0,...,NaN,-,59.0,NaN,29.96,71.1,10.0,Variable,5.8,0
3578,2015,6,30,3,"[260, 158, 255, 92, 142, 230, 68, 230, 93, 132...",0.0,0.0,0.0,2.0,0.0,...,NaN,-,63.0,NaN,29.96,70.0,10.0,Calm,Calm,0
3579,2015,6,30,4,"[45, 92, 224, 229, 263, 239, 161, 256, 238, 23...",0.0,0.0,1.0,4.0,0.0,...,NaN,-,65.0,NaN,29.95,69.1,10.0,Calm,Calm,0
3580,2015,6,30,5,"[37, 79, 148, 61, 48, 249, 231, 229, 249, 152,...",0.0,0.0,0.0,12.0,0.0,...,NaN,-,70.0,NaN,29.96,68.0,10.0,Calm,Calm,0
3581,2015,6,30,6,"[263, 37, 13, 164, 263, 198, 107, 236, 65, 249...",0.0,0.0,0.0,18.0,0.0,...,NaN,-,68.0,NaN,29.97,70.0,10.0,Calm,Calm,0
3582,2015,6,30,7,"[236, 186, 231, 68, 229, 36, 143, 144, 33, 148...",0.0,0.0,1.0,43.0,0.0,...,NaN,-,61.0,NaN,29.99,73.0,10.0,Variable,4.6,0
3583,2015,6,30,8,"[17, 79, 231, 68, 263, 90, 13, 229, 144, 138, ...",0.0,0.0,2.0,45.0,0.0,...,NaN,-,55.0,NaN,29.97,75.0,10.0,Variable,3.5,0
3584,2015,6,30,9,"[212, 145, 141, 142, 7, 229, 230, 148, 4, 236,...",0.0,0.0,1.0,39.0,0.0,...,NaN,-,50.0,NaN,29.97,77.0,10.0,Variable,3.5,0
3585,2015,6,30,10,"[144, 228, 186, 230, 158, 50, 142, 50, 229, 24...",0.0,0.0,0.0,24.0,0.0,...,NaN,20.7,54.0,NaN,29.96,78.1,10.0,Variable,3.5,0
3586,2015,6,30,11,"[231, 158, 50, 211, 186, 144, 26, 48, 165, 142...",0.0,0.0,1.0,19.0,0.0,...,NaN,24.2,45.0,NaN,29.96,79.0,10.0,South,9.2,190
3587,2015,6,30,12,"[179, 17, 87, 61, 237, 231, 228, 100, 233, 249...",0.0,0.0,2.0,25.0,0.0,...,NaN,-,47.0,NaN,29.95,79.0,10.0,North,-9999.0,0
3588,2015,6,30,13,"[138, 129, 37, 246, 107, 170, 50, 56, 249, 163...",0.0,0.0,0.0,17.0,0.0,...,NaN,-,42.0,NaN,29.93,81.0,10.0,North,-9999.0,0
3589,2015,6,30,14,"[211, 68, 161, 182, 138, 50, 229, 146, 10, 75,...",0.0,0.0,2.0,23.0,0.0,...,NaN,20.7,47.0,NaN,29.90,80.1,10.0,Variable,4.6,0
3590,2015,6,30,15,"[178, 170, 164, 262, 141, 137, 121, 237, 233, ...",0.0,0.0,1.0,22.0,0.0,...,NaN,25.3,47.0,NaN,29.90,80.1,10.0,South,8.1,180
3591,2015,6,30,16,"[170, 239, 161, 224, 62, 144, 144, 48, 100, 10...",0.0,0.0,0.0,23.0,0.0,...,NaN,-,60.0,NaN,29.90,75.9,10.0,Variable,6.9,0
3592,2015,6,30,17,"[188, 246, 234, 87, 50, 231, 233, 144, 170, 17...",0.0,0.0,1.0,14.0,0.0,...,NaN,21.9,67.0,NaN,29.88,75.9,10.0,Variable,4.6,0
3593,2015,6,30,18,"[239, 80, 211, 161, 144, 256, 17, 170, 116, 16...",0.0,0.0,1.0,22.0,0.0,...,NaN,-,71.0,NaN,29.88,75.0,10.0,Variable,6.9,0
3594,2015,6,30,19,"[229, 237, 141, 161, 246, 236, 162, 246, 137, ...",0.0,0.0,3.0,28.0,0.0,...,NaN,-,71.0,NaN,29.91,75.0,10.0,Variable,6.9,0
3595,2015,6,30,20,"[164, 181, 163, 256, 80, 13, 79, 13, 161, 107,...",0.0,0.0,2.0,15.0,0.0,...,NaN,-,73.0,NaN,29.91,73.9,10.0,Variable,6.9,0
3596,2015,6,30,21,"[164, 161, 144, 233, 163, 170, 65, 255, 230, 2...",0.0,0.0,1.0,44.0,0.0,...,NaN,-,79.0,NaN,29.88,73.9,10.0,Variable,4.6,0
3597,2015,6,30,22,"[211, 234, 163, 256, 232, 163, 253, 42, 93, 42...",0.0,0.0,2.0,26.0,0.0,...,NaN,-,82.0,NaN,29.87,73.9,10.0,Variable,6.9,0
3598,2015,6,30,23,"[225, 132, 255, 230, 163, 164, 246, 231, 61, 1...",0.0,0.0,0.0,21.0,0.0,...,NaN,-,82.0,NaN,29.88,73.9,10.0,Variable,4.6,0

In [215]:
uber_data.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_data.csv')

In [216]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3599 entries, 0 to 3598
Columns: 279 entries, Year to WindDirDegrees
dtypes: float64(268), int64(5), object(6)
memory usage: 7.7+ MB

In [218]:
uber_data.shape

(3599, 279)

In [2]:
uber = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/uber_data.csv')

In [8]:
#103
#104
#199

for i in uber.columns:
    print i

Year
Month
Day
Hour
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265

In [4]:
#uber['Year'].shape
zeros = np.zeros(shape=(3599,))

In [5]:
uber = uber.drop(['Unnamed: 0', 'locationID', 'Conditions', 'Dew PointF',
          'Events', 'Gust SpeedMPH','Humidity', 'PrecipitationIn',
                 'Sea Level PressureIn', 'TemperatureF','VisibilityMPH',
                 'Wind Direction', 'Wind SpeedMPH', 'WindDirDegrees'], 1)

In [6]:
#uber

In [7]:
#1 = 4, 2 = 5
uber.insert(106, '103', zeros) #Worked
uber.insert(107, '104', zeros) #Worked
uber.insert(202, '199', zeros)

In [9]:
uber.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/loc_only_uber_agg.csv')