<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Project 4

###  Big Query, SQL, Classification

---

### The Data

There are 5 individual tables that have the information, contained in a Google BigQuery database.  The setup info for BigQuery is located on our DSI wiki.  You will have to query with SQL, the dataset in order to complete this project.

The tables, with cooresonding attributes that exist are:

### businesses
- business_id: unique business identifier
- name: name of the business
- review_count: number of reviews per business
- city: city business resides in
- stars: average rating
- categories: categories the business falls into (can be one or multiple)
- latitude
- longitude
- neighborhoods: neighborhoods business belongs to
- variable: "property" of the business (a tag)
- value: True/False for the property

### reviews
- user_id: unique user identifier
- review_id: unique review identifier
- votes.cool: how many thought the review was "cool"
- business_id: unique business id the review is for
- votes.funny: how many thought the review was funny
- stars: rating given
- date: date of review
- votes.useful: how many thought the review was useful
- ... 100 columns of counts of most common 2 word phrases that appear in reviews in this review

### users
- yelping_since: signup date
- compliments.plain: # of compliments "plain"
- review_count: # of reviews:
- compliments.cute: total # of compliments "cute"
- compliments.writer: # of compliments "writer"
- compliments.note: # of compliments "note" (not sure what this is)
- compliments.hot: # of compliments "hot" (?)
- compliments.cool: # of compliments "cool"
- compliments.profile: # of compliments "profile"
- average_stars: average rating
- compliments.more: # of compliments "more"
- elite: years considered "elite"
- name: user's name
- user_id: unique user id
- votes.cool: # of votes "cool"
- compliments.list: # of compliments "list"
- votes.funny: # of compliments "funny"
- compliments.photos: # of compliments "photos"
- compliments.funny: # of compliments "funny"
- votes.useful: # of votes "useful"

### checkins
- business_id: unique business identifier
- variable: day-time identifier of checkins (0-0 is Sunday 0:00 - 1:00am,  for example)
- value: # of checkins at that time

### tips
- user_id: unique user identifier
- business_id: unique business identifier
- likes: likes that the tip has
- date: date of tip
- ... 100 columns of counts of most common 2 word phrases that appear in tips in this tip


The reviews and tips datasets in particular have parsed "NLP" columns with counts of 2-word phrases in that review or tip (a "tip", it seems, is some kind of smaller review).

The user dataset has a lot of columns of counts of different compliments and votes. We're not sure whether the compliments or votes are by the user or for the user.

---


If you look at the website, or the full data, you'll see I have removed pieces of the data and cut it down quite a bit. This is to simplify it for this project. Specifically, business are limited to be in these cities:

- Phoenix
- Surprise
- Las Vegas
- Waterloo

Apparently there is a city called "Surprise" in Arizona. 

Businesses are also restricted to at least be in one of the following categories, because we thought the mix of them was funny:

- Airports
- Breakfast & Brunch
- Bubble Tea
- Burgers
- Bars
- Bakeries
- Breweries
- Cafes
- Candy Stores
- Comedy Clubs
- Courthouses
- Dance Clubs
- Fast Food
- Museums
- Tattoo
- Vape Shops
- Yoga
    
---

### Project requirements

**You will be performing 4 different sections of analysis, like in the last project.**

Remember that classification targets are categorical and regression targets are continuous variables.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1. Load your dataset(s) / setup / configure GBQ connection

---

Information about this dataset is located here:


**If you haven't done so, setup a project with the Google developer portal, following the directions here: [Getting Started with BigQuery](https://github.com/ga-students/DSI-SF-4/wiki/Getting-Started-with-BigQuery)**

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import datetime

%matplotlib inline

In [129]:
#Businesses, Checkins, Reviews, Tips, Users

project_id = "bigquery-dsi-awhaley"

sql = """
SELECT *
FROM [bigquery-dsi-dave:yelp_arizona.users]
"""

df = pd.read_gbq(sql, project_id=project_id)
print '--DONE--'
#df.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/bigquery-dsi-dave:yelp_arizona.reviews')

Requesting query... ok.
Query running...
Query done.
Processed: 15.2 Mb

Retrieving results...
  Got page: 1; 12.0% done. Elapsed 11.34 s.
  Got page: 2; 23.0% done. Elapsed 16.8 s.
  Got page: 3; 35.0% done. Elapsed 22.63 s.
  Got page: 4; 46.0% done. Elapsed 29.72 s.
  Got page: 5; 58.0% done. Elapsed 34.28 s.
  Got page: 6; 69.0% done. Elapsed 39.29 s.
  Got page: 7; 81.0% done. Elapsed 45.19 s.
  Got page: 8; 92.0% done. Elapsed 50.78 s.
  Got page: 9; 100.0% done. Elapsed 54.76 s.
Got 144206 rows.

Total time taken 66.36 s.
Finished at 2016-12-18 21:25:28.
--DONE--

In [131]:
df.head(2)

,yelping_since,compliments_plain,review_count,compliments_cute,compliments_writer,fans,compliments_note,compliments_hot,compliments_cool,compliments_profile,...,compliments_more,elite,name,user_id,votes_cool,compliments_list,votes_funny,compliments_photos,compliments_funny,votes_useful
0,2015-01,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Scott,dMeSxE7S6Yxhz3cBgd6Sjw,0,None,0,None,NaN,0
1,2015-01,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Diego,c-e0BxGy3eNtKzKDrrHyGw,0,None,0,None,NaN,0

In [132]:
df.to_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/bigquery-dsi-dave:yelp_arizona.users.csv')

UnicodeEncodeError: 'ascii' codec can't encode character u'\xf6' in position 1: ordinal not in range(128)

In [4]:
df.columns

Index([u'business_id', u'name', u'review_count', u'city', u'stars',
       u'categories', u'latitude', u'longitude', u'neighborhoods', u'variable',
       u'value'],
      dtype='object')

In [5]:
df['city'].value_counts()

Las Vegas    93818
Phoenix      53279
Surprise      2974
Waterloo      2761
Name: city, dtype: int64

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2. Constructing a "profile" for Las Vegas

---

Yelp is interested in building out what they are calling "profiles" for cities. They want you to start with just Las Vegas to see what a prototype of this would look like. Essentially, they want to know what makes Las Vegas distinct from the other four.

Use the data you have to predict Las Vegas from the other variables you have. You should not be predicting the city from any kind of location data or other data perfectly associated with that city (or another city).

You may use any classification algorithm you deem appropriate, or even multiple models. You should:

1. Build at least one model predicting Las Vegas vs. the other cities.
- Validate your model(s).
- Interpret and visualize, in some way, the results.
- Write up a "profile" for Las Vegas. This should be a writeup converting your findings from the model(s) into a human-readable description of the city.

*Research location data to find the city targets.*

In [6]:
bus = df

In [7]:
#X = bus.drop(['business_id', 'city', 'latitude', 'longitude'], 1)
X = bus[['categories', 'stars']]
y = bus['city']

In [8]:
category_list = []
for i in bus['categories']:
    try:
        category_list.extend(i.split(', '))
    except:
        pass

category_list = np.unique(category_list)

In [9]:
def parse_category(series_value, column_name=None):
    try:
        if column_name in series_value:
            return 1
        else:
            return 0
    except:
        return 0

In [10]:
for x in category_list:
    X[x] = X['categories'].apply(parse_category, column_name=x)

/Users/austinwhaley/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [11]:
X.head(3)

,categories,stars,"""Women's Clothing""",'Active Life','Active Life'],'Adult Entertainment','Afghan','Airports'],'Amateur Sports Teams','American (New)',...,['Tapas/Small Plates',['Tattoo Removal',['Tattoo',['Tex-Mex',['Thai',['Tobacco Shops',['Vegetarian',['Weight Loss Centers',['Wine Bars',['Yoga'
0,"['Burgers', 'American (Traditional)', 'Sandwic...",3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"['Burgers', 'American (Traditional)', 'Sandwic...",3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"['Burgers', 'American (Traditional)', 'Sandwic...",3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y.head(3)

0    Las Vegas
1    Las Vegas
2    Las Vegas
Name: city, dtype: object

In [13]:
X = pd.get_dummies(X)
print datetime.datetime.now()

2016-12-16 20:58:14.139817

In [14]:
X.shape

(152832, 1319)

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

print datetime.datetime.now()

2016-12-16 20:58:50.795006

In [16]:
from sklearn.model_selection import cross_val_score

In [22]:
baseline = 93818./ 152832.
baseline

0.6138635887772195

In [18]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier()
KNN.fit(X_train, y_train)
scores = cross_val_score(KNN, X_test, y_test, cv=5)
print scores, '\n'
print np.mean(scores)

[ 0.76906974  0.76906974  0.76383619  0.75510471  0.7558581 ]

0.762587694532

In [35]:
KNN.get_params

<bound method KNeighborsClassifier.get_params of KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')>

In [29]:
X['Target'] = y

In [69]:
X['Target'].value_counts()

Las Vegas    93818
Phoenix      53279
Surprise      2974
Waterloo      2761
Name: Target, dtype: int64

In [70]:
phoenix = X[X['Target'] == 'Phoenix']

In [71]:
lst_phoenix = []
for i in phoenix.columns:
    try:
        lst_phoenix.append([phoenix[i].value_counts()[1], i])
    except:
        lst_phoenix.append([0, i])

In [78]:
lst_phoenix = sorted(lst_phoenix, reverse=True)
lst_phoenix[:5]

[[43271, u"'Restaurants'"],
 [40922, u"'Restaurants']"],
 [18782, u"'Nightlife'"],
 [18200, u"'Bars'"],
 [14110, u"'Fast Food'"]]

In [86]:
print '--Phoenix--'
print (40922.) / 93818, '= Restaurants'
print 18782. / 93818., '= Nightlife'
print 18200. / 93818., '= Bars'
print 14110. / 93818., '= Fast Food'

--Phoenix--
0.436184953847 = Restaurants
0.200196124411 = Nightlife
0.193992624017 = Bars
0.15039757829 = Fast Food

In [31]:
las_vegas = X[X['Target'] == 'Las Vegas']

In [67]:
lst_vegas = []
for i in las_vegas.columns:
    try:
        lst_vegas.append([las_vegas[i].value_counts()[1], i])
    except:
        lst_vegas.append([0, i])

In [77]:
lst_vegas = sorted(lst_vegas, reverse=True)
lst_vegas[:5]

[[66755, u"'Restaurants'"],
 [63027, u"'Restaurants']"],
 [39881, u"'Nightlife'"],
 [36983, u"'Bars'"],
 [25658, u"['Bars'"]]

In [89]:
print '--Vegas--93818'
print (66755.) / 93818, '= Restaurants'
print 39881. / 93818, '= Nightlife'
print (36983.) / 93818, '= Bars'

--Vegas--93818
0.711537231661 = Restaurants
0.42508900211 = Nightlife
0.394199407363 = Bars

In [ ]:
'''
Write up a "profile" for Las Vegas. 
This should be a writeup converting your findings from the model(s) into a human-readable description of the city.

Used a KNN Model. Cross-Validated it with 5-Folds
Looking at the submitted reviews (Las Vegas vs. Phoenix)

Looking at the distribution of review categories (what categories the user population chooses to submit reviews on), 
there is a trend with the cities. Looking at Las Vegas and using Phoenix as a comparison. User choose to submit
reviews about Restaurants, Nightlife and Bars whereas with a city like Phoenix while it still has these categorizes
at the top, they do not draw the same percentage of the reviews that a city like Las Vegas does. The 'profile' that 
you could make about Las Vegas as it is very strong in the NightLife, Bars and Restaurants categories. Users that
consistently review these categories would be drawn to this city more than others (like Phoenix) whos distribution
of categories if more flatline vs.Las Vegas's heavy weight in those few categories. 
'''

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Different categories of ratings

---

Yelp is finally ready to admit that their rating system sucks. No one cares about the ratings, they just use the site to find out what's nearby. The ratings are simply too unreliable for people. 

Yelp hypothesizes that this is, in fact, because different people tend to give their ratings based on different things. They believe that perhaps some people always base their ratings on quality of food, others on service, and perhaps other categories as well. 

1. Do some users tend to talk about service more than others in reviews/tips? Divide up the tips/reviews into more "service-focused" ones and those less concerned with service.
2. Create two new ratings for businesses: ratings from just the service-focused reviews and ratings from the non-service reviews.
3. Construct a regression model for each of the two ratings. They should use the same predictor variables (of your choice). 
4. Validate the performance of the models.
5. Do the models coefficients differ at all? What does this tell you about the hypothesis that there are in fact two different kinds of ratings?

In [93]:
rev = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/uber-pickups-in-new-york-city/bigquery-dsi-dave:yelp_arizona.reviews.csv')
rev = rev.drop('Unnamed: 0',1)

In [118]:
rev.head()

,user_id,review_id,votes_cool,business_id,votes_funny,stars,date,votes_useful,minutes_10,minutes_15,...,service_great,staff_friendly,super_friendly,sweet_potato,tasted_like,time_vegas,try_place,ve_seen,ve_tried,wait_staff
0,69FrinUznWTIhi10KlzmMg,vBsA_oSgSB7i1-7PH1wNbw,0,bzDs0u8I-z231QVdIQWkrA,0,5,2014-12-12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,cpD7H8kqPFRUE856HWMNAQ,qF-HfOUEOF1NGF9h9oNGuw,0,ERtc-EXdP9erEBoh7droww,0,5,2013-05-28,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,fGdiumEqJAMWIIChrTvjHA,UJ6_ZIS4poBtTbYN3qmm7w,0,Ov-brVmYdVfbupMoyjUU3A,0,5,2015-09-19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fu35orOPJYTXyJ1LRs1VOA,kCy1P8KOZIt5VstuwAUl3A,0,NrvxRziDvF4HhfbY0RY1Lg,0,5,2012-07-20,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,wp-zKEwZVIyKG0uc8iEJ9g,xiSjDTzaRqdYTtj60nDFog,0,TepgC3JV7NXjPPbKbzloiQ,0,5,2010-02-06,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
for i in rev.columns:
    print i

user_id
review_id
votes_cool
business_id
votes_funny
stars
date
votes_useful
minutes_10
minutes_15
minutes_20
minutes_30
bar_food
beer_selection
best_ve
bloody_mary
bottle_service
chicken_waffles
customer_service
dance_floor
decided_try
definitely_come
definitely_recommend
didn_want
don_know
don_like
don_think
don_want
eggs_benedict
fast_food
feel_like
felt_like
fish_chips
food_amazing
food_came
food_delicious
food_good
food_great
food_just
food_service
french_fries
french_toast
friday_night
fried_chicken
friendly_staff
good_food
good_place
good_service
good_thing
good_time
great_atmosphere
great_experience
great_food
great_place
great_service
great_time
happy_hour
hash_browns
highly_recommend
hip_hop
ice_cream
just_like
just_ok
just_right
las_vegas
late_night
like_place
little_bit
long_time
looked_like
looks_like
love_place
mac_cheese
make_sure
mashed_potatoes
medium_rare
minutes_later
new_york
onion_rings
place_good
place_great
place_just
potato_fries
pretty_good
quality_food
really_enjoyed
really_good
really_like
really_nice
recommend_place
red_velvet
right_away
saturday_night
second_time
service_excellent
service_food
service_friendly
service_good
service_great
staff_friendly
super_friendly
sweet_potato
tasted_like
time_vegas
try_place
ve_seen
ve_tried
wait_staff

In [116]:
rev['good_service'] = rev['good_service'].map(lambda x: x if x == 1 or x == 0 else 0)

In [117]:
rev['good_service'].value_counts()

0    316391
1      6007
Name: good_service, dtype: int64

In [119]:
rev['review_type'] = rev['good_service']

In [ ]:
'''
Service - Reviews/Tips
-Take the Reviews/Tips category and divide them into more 'service-based' ones and those less concerned with service
-Construct two new ratings for businesses: ratings from just the service-focused revews and ratings from the
non-service reviews
-Constuct a LR model for each of the two ratings. Use the same X data
-Cross_Val_score them
-Analysis the results
'''

In [ ]:
'''
What X data represents Reviews/Tips: Service & Non-Service
Predict Service Label

Create two new ratings: ratings from just the service-focused reviews and ratings from the non-service reviews
(2 categories)
'''

In [127]:
X = rev[['good_service']]
y = rev['review_type']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [128]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(X_train, y_train)
scores = cross_val_score(LR, X_test, y_test)
print scores, '\n'
print np.mean(scores)

[ 1.  1.  1.]

1.0

In [ ]:
'''
The meaning of this question is confusing to me as you want me to predict (with regression) which category
(discrete value) that a review falls into, service-related / not service-related. These reviews would be directly
based of categories that where set forth by me which is why it is a perfect model above. Also the values for the
ratings where 0 or 1. That could mean that for example 0 the restaurant did not have good service or 0 that this 
review in question did not have to do with service at all. This applies to all variables in question. Therefore,
how could a model be derived from the data?

'''

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Identifying "elite" users

---

Yelp, though having their own formula for determining whether a user is elite or not, is interested in delving deeper into what differentiates an elite user from a normal user at a broader level.

Use a classification model to predict whether a user is elite or not. Note that users can be elite in some years and not in others.

1. What things predict well whether a user is elite or not?
- Validate the model.
- If you were to remove the "counts" metrics for users (reviews, votes, compliments), what distinguishes an elite user, if anything? Validate the model and compare it to the one with the count variables.
- Think of a way to visually represent your results in a compelling way.
- Give a brief write-up of your findings.

In [ ]:
'''
Predict if user is elite or not
use all valid columns
MAKE AND VALIDATE MODEL
With the same model, take away the reviews, votes and compliments-- same result?
Write up findings
'''

In [133]:
users = df

In [145]:
users.columns

Index([u'yelping_since', u'compliments_plain', u'review_count',
       u'compliments_cute', u'compliments_writer', u'fans',
       u'compliments_note', u'compliments_hot', u'compliments_cool',
       u'compliments_profile', u'average_stars', u'compliments_more', u'elite',
       u'name', u'user_id', u'votes_cool', u'compliments_list', u'votes_funny',
       u'compliments_photos', u'compliments_funny', u'votes_useful'],
      dtype='object')

In [134]:
users.head()

,yelping_since,compliments_plain,review_count,compliments_cute,compliments_writer,fans,compliments_note,compliments_hot,compliments_cool,compliments_profile,...,compliments_more,elite,name,user_id,votes_cool,compliments_list,votes_funny,compliments_photos,compliments_funny,votes_useful
0,2015-01,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Scott,dMeSxE7S6Yxhz3cBgd6Sjw,0,None,0,None,NaN,0
1,2015-01,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Diego,c-e0BxGy3eNtKzKDrrHyGw,0,None,0,None,NaN,0
2,2015-01,NaN,2,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Katie,tO-IKvmHn9kGobTcVweTeA,0,None,0,None,NaN,0
3,2015-01,NaN,9,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Ross,soPELsow5JAqNSYCUmntJg,2,None,1,None,NaN,0
4,2015-01,NaN,2,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,[],Pam,RR6dZa6dkrcgjKvEnI-Myw,0,None,0,None,NaN,0

In [136]:
users['elite'] = users['elite'].map(lambda x: 0 if x == '[]' else 1)

In [137]:
users['elite'].value_counts()

0    127583
1     16623
Name: elite, dtype: int64

In [159]:
users = users[['review_count', 'votes_cool', 'compliments_plain', 'average_stars', 'fans', 'elite']]
print users.shape
users = users.dropna()
print users.shape

(144206, 6)
(47034, 6)

In [161]:
X = users.drop('elite', 1)
y = users['elite']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [163]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier()
KNN.fit(X_train, y_train)
scores = cross_val_score(KNN, X_test, y_test)
print scores, '\n'
print np.mean(scores)

[ 0.85204082  0.86709184  0.85965808]

0.8595969097

In [164]:
users = users[['average_stars', 'fans', 'elite']]
users = users.dropna()
print users.shape

(47034, 3)

In [165]:
X = users.drop('elite', 1)
y = users['elite']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75)

In [166]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier()
KNN.fit(X_train, y_train)
scores = cross_val_score(KNN, X_test, y_test)
print scores, '\n'
print np.mean(scores)

[ 0.82606478  0.82342434  0.83235519]

0.82728143833

In [ ]:
'''
External factors such as the 'count' categories do little good in identifing 'ELITE' users as 'fans' and 'average stars
where enough to get almost an identical match to the model that used 'count' columns. If wants wants to predict
elite users (or potentially make more of them) they just need users to follow the behaviors of the set columns
and that will lead to more elite users which is of course better for them. They also dont have to train their
models on as much data if they only need a few predictors

'''

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Find something interesting on your own

---

You want to impress your superiors at Yelp by doing some investigation into the data on your own. You want to do classification, but you're not sure on what.

1. Create a hypothesis or hypotheses about the data based on whatever you are interested in, as long as it is predicting a category of some kind (classification).
2. Explore the data visually (ideally related to this hypothesis).
3. Build one or more classification models to predict your target variable. **Your modeling should include gridsearching to find optimal model parameters.**
4. Evaluate the performance of your model. Explain why your model may have chosen those specific parameters during the gridsearch process.
5. Write up what the model tells you. Does it validate or invalidate your hypothesis? Write this up as if for a non-technical audience.

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. ROC and Precision-recall

---

Some categories have fewer overall businesses than others. Choose two categories of businesses to predict, one that makes your proportion of target classes as even as possible, and another that has very few businesses and thus makes the target varible imbalanced.

1. Create two classification models predicting these categories. Optimize the models and choose variables as you see fit.
- Make confusion matrices for your models. Describe the confusion matrices and explain what they tell you about your models' performance.
- Make ROC curves for both models. What do the ROC curves describe and what do they tell you about your model?
- Make Precision-Recall curves for the models. What do they describe? How do they compare to the ROC curves?
- Explain when Precision-Recall may be preferable to ROC. Is that the case in either of your models?