In [ ]:
'''
Create a new notebook

Load the dataset from the datasets folder labeled datasets/rock_songs - DONE
Rename the columns to something more descriptive - DONE
Print the summary stats: mean, median, mode, std, variance, range -DONE
    -Release Year
    -First
    -Year
    -Play Count
    -F*G
Clean / convert / normalize any problematic variables that can't be summarized.
Questions

1. What are the top 20 most popular songs by plays?

2. Which years have the most plays?

3. Which records don't have matching "Play Count" cooresponding to "F*G"?

*Bonus: Which artists have the most misssing values between each of the variables? *
'''

In [1]:
import pandas as pd
import numpy as np

In [12]:
rock_songs = pd.read_csv('/Users/austinwhaley/Desktop/DSI-SF-4-austinmwhaley/datasets/rock_songs/rock.csv')
print rock_songs.head()
print rock_songs.columns
#rock_songs['COMBINED']

               Song Clean ARTIST CLEAN Release Year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special          NaN
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                COMBINED  First?  Year?  PlayCount  F*G
0        Caught Up in You by .38 Special       1      1         82   82
1            Fantasy Girl by .38 Special       1      0          3    0
2         Hold On Loosely by .38 Special       1      1         85   85
3  Rockin' Into the Night by .38 Special       1      1         18   18
4              Art For Arts Sake by 10cc       1      1          1    1
Index([u'Song Clean', u'ARTIST CLEAN', u'Release Year', u'COMBINED', u'First?',
       u'Year?', u'PlayCount', u'F*G'],
      dtype='object')

In [36]:
# rename_col_list = dict(Song Clean='song_name', 
#                       ARTIST CLEAN='artist_name', 
#                       Release Year='release_year',
#                       COMBINED='song_artist_year',
#                       First?='first',
#                       Year?='year',
#                       PlayCount='play_count',
#                       F*G, 'FG')

rename_col_list = ['song_name', 'artist_name', 'release_year', 'song_artist_year', 
                  'first?', 'year?', 'play_count', 'FG']

rock_songs.columns = rename_col_list

rock_songs.head()

,song_name,artist_name,release_year,song_artist_year,first?,year?,play_count,FG
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [42]:
'''
-Release Year
-First
-Year
-Play Count
-F*G
'''
#print rock_songs.head()
    

z = rock_songs['release_year'].map(lambda x: 0 if x == 'SONGFACTS.COM' else x)
z.value_counts()
#Print Summary Info (df.describe) for Release Year, First?, Year, Play Count, F*G
#summary_col_names = ['release_year','first?', 'year?', 'play_count', 'FG']
#rock_songs[summary_col_names].describe()

#rock_songs.release_year.value_counts()

1973    104
1977     83
1975     83
1970     81
1971     75
1969     72
1980     70
1978     64
1979     63
1967     61
1981     61
1983     60
1976     56
1982     54
1984     51
1972     50
1974     48
1968     46
1987     39
1985     39
1986     37
1991     34
1989     32
1966     30
1988     29
1965     28
1994     25
1990     22
1993     19
1964     14
1992     14
1999     13
1995     10
1997      9
1996      9
1963      9
1998      6
2002      6
2005      5
2004      5
2012      5
2001      4
2011      3
2008      3
1962      3
2003      3
2000      3
2007      3
2014      2
2013      2
1955      1
1958      1
1961      1
1071      1
2006      1
0         1
Name: release_year, dtype: int64

In [ ]:
#